FIMBY/force-app/main/default/flows/Assign_Campaign_Status_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Status_to_Collection</name>
        <label>Add New Status to Collection</label>
        <locationX>1595</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>NewCampaignMemberStatuses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignMemberStatusforLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullifying_Loop_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Campaign_Member_Status</name>
        <label>Assign to Campaign Member Status</label>
        <locationX>1442</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusforLoop.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMSTV_for_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusforLoop.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMSTV_for_Loop.Is_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusforLoop.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMSTV_for_Loop.Has_Responded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusforLoop.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CMSTV_for_Loop.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusforLoop.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Status_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullifying_Loop_Record</name>
        <label>Nullifying Loop Record</label>
        <locationX>1437</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusforLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankStatusRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delete</name>
        <label>Set Delete</label>
        <locationX>1233</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>BlankStatusRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToDeleteID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Placeholder_Default_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_existing_Campaign_Members</name>
        <label>Are there existing Campaign Members?</label>
        <locationX>457</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Members Exist</defaultConnectorLabel>
        <rules>
            <name>Campaign_N</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberCheckRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Member_Status_Records</targetReference>
            </connector>
            <label>No Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Found</name>
        <label>Template Found?</label>
        <locationX>860</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>No Template</defaultConnectorLabel>
        <rules>
            <name>Template_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template_Values</targetReference>
            </connector>
            <label>Template Found</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Campaign Status Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Campaign Status Values</label>
    <loops>
        <name>Loop_Values</name>
        <label>Loop Values</label>
        <locationX>1230</locationX>
        <locationY>57</locationY>
        <assignNextValueToReference>CMSTV_for_Loop</assignNextValueToReference>
        <collectionReference>TemplateValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Campaign_Member_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Default_Place_H0lder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Statuses</name>
        <label>Create New Statuses</label>
        <locationX>1233</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>Set_Delete</targetReference>
        </connector>
        <inputReference>NewCampaignMemberStatuses</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Default_Place_H0lder</name>
        <label>Default Place H0lder</label>
        <locationX>1233</locationX>
        <locationY>175</locationY>
        <assignRecordIdToReference>ToDeleteID</assignRecordIdToReference>
        <connector>
            <targetReference>Deleting_Existing_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>DefaultValuetoDelete</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordCreates>
    <recordDeletes>
        <name>Deleting_Existing_Values</name>
        <label>Deleting Existing Values</label>
        <locationX>1233</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Create_New_Statuses</targetReference>
        </connector>
        <inputReference>ExistingCampaignMemberStatuses</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Get_Placeholder_Default_Record</name>
        <label>Get Placeholder Default Record</label>
        <locationX>1233</locationX>
        <locationY>658</locationY>
        <inputReference>BlankStatusRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>CampaignMemberCheck</name>
        <label>CampaignMemberCheck</label>
        <locationX>327</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_existing_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>CampaignMemberCheckRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member_Status_Records</name>
        <label>Get Campaign Member Status Records</label>
        <locationX>607</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Member_Status_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
        <outputReference>ExistingCampaignMemberStatuses</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member_Status_Template</name>
        <label>Get Campaign Member Status Template</label>
        <locationX>732</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Template_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assign_Upon_Create__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign_Member_Status_Template__c</object>
        <outputAssignments>
            <assignToReference>TemplateID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Values</name>
        <label>Get Template Values</label>
        <locationX>1005</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Member_Status_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateID</elementReference>
            </value>
        </filters>
        <object>Campaign_Member_Status_Template_Values__c</object>
        <outputReference>TemplateValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Has_Responded__c</queriedFields>
        <queriedFields>Is_Default__c</queriedFields>
        <queriedFields>Sort_Order__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Delay_Processing</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BlankStatusRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberCheckRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CampaignMemberStatusforLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>CampaignRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CMSTV_for_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Member_Status_Template_Values__c</objectType>
    </variables>
    <variables>
        <name>ExistingCampaignMemberStatuses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>NewCampaignMemberStatuses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>RestartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Member_Status_Template_Values__c</objectType>
    </variables>
    <variables>
        <name>ToDeleteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Delay_Processing</name>
        <label>Delay Processing</label>
        <locationX>181</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Delay_1_Minute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CampaignMemberCheck</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Created_Time_Delay__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>CampaignID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Delay 1 Minute</label>
        </waitEvents>
    </waits>
</Flow>
