FIMBY/force-app/main/default/flows/Create_New_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Welcome_Email</name>
        <label>Send Welcome Email</label>
        <locationX>784</locationX>
        <locationY>3122</locationY>
        <actionName>Contact.Welcome_Email_to_New_Users</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Welcome_Email_to_New_Users</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Nickname_Matched</name>
        <label>Nickname Matched</label>
        <locationX>1042</locationX>
        <locationY>1342</locationY>
        <assignmentItems>
            <assignToReference>NicknameUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Warnings</name>
        <label>Reset Warnings</label>
        <locationX>782</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>UsernameUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NicknameUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sert_Email_Address</name>
        <label>Sert Email Address</label>
        <locationX>775</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>USername_Warning</name>
        <label>USername Warning</label>
        <locationX>979</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>UsernameUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Generate_Household</name>
        <label>Generate Household</label>
        <locationX>768</locationX>
        <locationY>991</locationY>
        <defaultConnector>
            <targetReference>Nickname_Used</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Household_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordtype</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User</name>
        <label>Has  User</label>
        <locationX>768</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Found_Error</targetReference>
            </connector>
            <label>Yes - Found User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Found</name>
        <label>Match Found</label>
        <locationX>769</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Update_Boundry_Account_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nickname</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nickname_Used.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nickname_Matched</targetReference>
            </connector>
            <label>Nickname Matched</label>
        </rules>
        <rules>
            <name>USername_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Username_Used.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USername_Warning</targetReference>
            </connector>
            <label>Username Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>aliassuggestion</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LOWER(LEFT({!Contact.FirstName},1) + LEFT({!Contact.LastName}, 7)), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>AlternateEmail</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Contact.npe01__AlternateEmail__c}), {!Contact.npe01__AlternateEmail__c},
IF({!Contact.Email} != &quot;fimby@strathconavineyard.com&quot; &amp;&amp; {!Contact.Email} != &quot;stephenpaul79@gmail.com&quot;, {!Contact.Email}, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>HHID</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Create_Household}), {!Create_Household}, {!Contact.Household_Account__c})</expression>
    </formulas>
    <formulas>
        <name>HouseholdSuggestion</name>
        <dataType>String</dataType>
        <expression>{!Contact.LastName} + &quot; Household&quot;</expression>
    </formulas>
    <formulas>
        <name>Neighbourhood</name>
        <dataType>String</dataType>
        <expression>CASE({!Boundry.recordId},
&quot;0015f00000DV5kUAAT&quot;, &quot;V6AStrathconaDTES&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewUsername</name>
        <dataType>String</dataType>
        <expression>{!Suggested_Username} + &quot;@fimby.ca&quot;</expression>
    </formulas>
    <formulas>
        <name>NickNameSuggestion</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!HouseholdSuggestion}) &lt;= 40, {!HouseholdSuggestion},
IF(LEN({!Contact.FirstName} + &quot; &quot; + {!Contact.LastName}) &lt;= 40, {!Contact.FirstName} + &quot; &quot; + {!Contact.LastName}, 
IF(LEN(LEFT({!Contact.FirstName},1) + &quot;. &quot; + {!Contact.LastName}) &lt;= 40, LEFT({!Contact.FirstName},1) + &quot;. &quot; + {!Contact.LastName}, 
IF(LEN({!Contact.FirstName}) &lt;= 40, {!Contact.FirstName}, &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>RedirectURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.lightning.force.com/lightning/setup/ManageUsers/page?address=%2F&quot; + {!Create_User} + &quot;%3Fnoredirect%3D1%26isUserEntityOverride%3D1&quot;</expression>
    </formulas>
    <formulas>
        <name>UsernameSuggestion</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LOWER(LEFT({!Contact.FirstName},1) + {!Contact.LastName}), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Create New User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Household</name>
        <label>Create Household</label>
        <locationX>421</locationX>
        <locationY>988</locationY>
        <connector>
            <targetReference>Nickname_Used</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Contact.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Contact.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Suggested_Household_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Boundry.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__One2OneContact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>779</locationX>
        <locationY>1794</locationY>
        <connector>
            <targetReference>Updated_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>Portal_Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>fimby@strathconavineyard.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>User_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>User_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Neighbourhood__c</field>
            <value>
                <elementReference>Neighbourhood</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Contact.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Contact.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Vancouver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>NewUsername</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>775</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sert_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_User</name>
        <label>Existing User</label>
        <locationX>775</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Household_Account</name>
        <label>Household Account</label>
        <locationX>776</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PasswordCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_Contact.Household_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Nickname_Used</name>
        <label>Nickname Used</label>
        <locationX>778</locationX>
        <locationY>1124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Username_Used</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CommunityNickname</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Portal_Nickname</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Profile</name>
        <label>Profile</label>
        <locationX>785</locationX>
        <locationY>1662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community User - FIMBY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recordtype</name>
        <label>Recordtype</label>
        <locationX>595</locationX>
        <locationY>988</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HH_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Updated_Contact</name>
        <label>Updated Contact</label>
        <locationX>784</locationX>
        <locationY>1932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Household_Account_User_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UserCheck</name>
        <label>UserCheck</label>
        <locationX>782</locationX>
        <locationY>2783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DataCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Username_Used</name>
        <label>Username Used</label>
        <locationX>777</locationX>
        <locationY>1255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Suggested_Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Household_Account_User_Update</name>
        <label>Household Account User Update</label>
        <locationX>780</locationX>
        <locationY>2065</locationY>
        <connector>
            <targetReference>Household_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_Contact.Household_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FIMBY_User__c</field>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Boundry.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__One2OneContact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Boundry_Account_on_Contact</name>
        <label>Update Boundry Account on Contact</label>
        <locationX>784</locationX>
        <locationY>1507</locationY>
        <connector>
            <targetReference>Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Boundry.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>fimby@strathconavineyard.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Account__c</field>
            <value>
                <elementReference>HHID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Email_Frequency__c</field>
            <value>
                <stringValue>Daily</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>AlternateEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Email</name>
        <label>Update Contact Email</label>
        <locationX>781</locationX>
        <locationY>2554</locationY>
        <connector>
            <targetReference>User_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Household_Password</name>
        <label>Update Household Password</label>
        <locationX>779</locationX>
        <locationY>2423</locationY>
        <connector>
            <targetReference>Update_Contact_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Household_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Password__c</field>
            <value>
                <elementReference>Confirmed_Password</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIMBY_User__c</field>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__One2OneContact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>782</locationX>
        <locationY>3016</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>Portal_Nickname_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>User_First_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>User_Last_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>Suggested_Username_0</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>User_Email</name>
        <label>User Email</label>
        <locationX>781</locationX>
        <locationY>2673</locationY>
        <connector>
            <targetReference>UserCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Data</name>
        <label>Data</label>
        <locationX>773</locationX>
        <locationY>753</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Warnings</targetReference>
        </connector>
        <fields>
            <name>Data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Boundry</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Neighbourhood__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Boundry Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Needs_Offers__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <stringValue>0015f00000DV5kUAAT</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Username_Warning_Msg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Duplciate Username Found&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UsernameUsed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Suggested_Username</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UsernameSuggestion</elementReference>
                    </defaultValue>
                    <fieldText>Suggested Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Do not include @fimby.ca&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>User_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Contact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>User First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Alias</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>aliassuggestion</elementReference>
                    </defaultValue>
                    <fieldText>Alias</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be 8 characters max&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Alias}) &lt;= 8</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Data_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Suggested_Household_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>HouseholdSuggestion</elementReference>
                    </defaultValue>
                    <fieldText>Suggested Household Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nickname_Warning_Msg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Duplicate Nickname Found&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NicknameUsed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Portal_Nickname</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NickNameSuggestion</elementReference>
                    </defaultValue>
                    <fieldText>Portal Nickname</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be 40 characters or less&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Portal_Nickname}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>User_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Contact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>User Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DataCheck</name>
        <label>Data Check</label>
        <locationX>783</locationX>
        <locationY>2903</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <fields>
            <name>Validate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Validate new user details before email welcome.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataCheck_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DataCheck_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User_First_Name_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserCheck.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>User First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Suggested_Username_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserCheck.Username</elementReference>
                    </defaultValue>
                    <fieldText>Suggested Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Do not include @fimby.ca&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EmailCheck</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserCheck.Email</elementReference>
                    </defaultValue>
                    <fieldText>User Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DataCheck_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User_Last_Name_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserCheck.LastName</elementReference>
                    </defaultValue>
                    <fieldText>User Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Alias_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserCheck.Alias</elementReference>
                    </defaultValue>
                    <fieldText>Alias</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be 8 characters max&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Alias_0}) &lt;= 8</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Portal_Nickname_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UserCheck.CommunityNickname</elementReference>
                    </defaultValue>
                    <fieldText>Portal Nickname</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must be 40 characters or less&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Portal_Nickname_0}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PasswordCheck</name>
        <label>PasswordCheck</label>
        <locationX>778</locationX>
        <locationY>2307</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Household_Password</targetReference>
        </connector>
        <fields>
            <name>SuggestedPassword</name>
            <fieldText>&lt;p&gt;Suggested Password:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Household_Account.Password_Generator__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmed_Password</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Household_Account.Password_Generator__c</elementReference>
            </defaultValue>
            <fieldText>Confirmed Password</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Found_Error</name>
        <label>User Found Error</label>
        <locationX>575</locationX>
        <locationY>627</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Contact is already a FIMBY User.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>649</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NicknameUsed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsernameUsed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
