FIMBY/force-app/main/default/flows/FIMBY_Story_Summary_Weekly.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Story_Email</name>
        <label>Send Story Email</label>
        <locationX>1035</locationX>
        <locationY>807</locationY>
        <actionName>Contact.FIMBY_Story_Summary</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Email_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Send_Email_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.FIMBY_Story_Summary</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1029</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>ContactstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Summary_Values</name>
        <label>Set Summary Values</label>
        <locationX>1031</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contacts.All_Stories_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.All_Stories_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Contact15Digits</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.ContactId},15)</expression>
    </formulas>
    <formulas>
        <name>HHAccountID</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.HouseholdID__c},15)</expression>
    </formulas>
    <interviewLabel>FIMBY Story Summary (Weekly) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIMBY Story Summary (Weekly)</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>777</locationX>
        <locationY>461</locationY>
        <collectionReference>Household_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Summary_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Send_Email_Loop</name>
        <label>Send Email Loop</label>
        <locationX>781</locationX>
        <locationY>819</locationY>
        <collectionReference>ContactstoUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Story_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Household_Contacts</name>
        <label>Household Contacts</label>
        <locationX>777</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HHAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Household_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Summary_Email_Frequency__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>781</locationX>
        <locationY>634</locationY>
        <connector>
            <targetReference>Send_Email_Loop</targetReference>
        </connector>
        <inputReference>ContactstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>651</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Household_Contacts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>FIMBY_Story_Summary_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FIMBY_Summary_Emails__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-03-05</startDate>
            <startTime>06:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContactstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
