FIMBY/force-app/main/default/flows/Fimby_Tos_Acceptance_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Decision_Has_Contact</name>
        <label>Has Contact?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Needs_Reaccept</name>
        <label>Needs Reacceptance?</label>
        <locationX>176</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>Update_Flag_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Up to date</defaultConnectorLabel>
        <rules>
            <name>Mismatch</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Tos_Version_Accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Settings.Tos_Current_Version__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Tos_Version_Accepted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Settings.Tos_Current_Version__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Age_Attestation_Confirmed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag_True</targetReference>
            </connector>
            <label>Mismatch</label>
        </rules>
    </decisions>
    <description>Login Flow (Autolaunched Flow, screenless). Runs at every community login, compares Contact.Tos_Version_Accepted__c against FIMBY_App_Settings.Default.Tos_Current_Version__c AND checks Contact.Age_Attestation_Confirmed__c, then stamps Contact.Tos_Reacceptance_Required__c true/false. Either a TOS version mismatch OR a missing age attestation triggers the reacceptance modal — fimbyTosFlowScreen now uses a combined "Terms + 19-or-older" checkbox so a single acceptance covers both. The fimbyUniversalHeader LWC reads the flag from the existing acting-as DTO and shows the modal post-login (no extra query). Skips users with no ContactId (internal admins). Autolaunched so Salesforce auto-redirects to retURL after the flow completes (a Screen Flow with no screens hangs at lightningLoginFlow.apexp).</description>
    <environments>Default</environments>
    <interviewLabel>Fimby Terms of Service Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fimby Terms of Service Acceptance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tos_Version_Accepted__c</queriedFields>
        <queriedFields>Tos_Reacceptance_Required__c</queriedFields>
        <queriedFields>Age_Attestation_Confirmed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Settings</name>
        <label>Get TOS Settings</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Needs_Reaccept</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FIMBY_App_Settings__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tos_Current_Version__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flag_False</name>
        <label>Set Reacceptance Required = false</label>
        <locationX>50</locationX>
        <locationY>706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tos_Reacceptance_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flag_True</name>
        <label>Set Reacceptance Required = true</label>
        <locationX>302</locationX>
        <locationY>706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tos_Reacceptance_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
