FIMBY/force-app/main/default/flows/FIMBY_Email_Summary_Every_Other_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Daily_FIMBY_Summary_Email</name>
        <label>Send Daily FIMBY Summary Email</label>
        <locationX>1030</locationX>
        <locationY>1007</locationY>
        <actionName>Contact.FIMBY_Daily_Summary</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Send_Emails.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.FIMBY_Daily_Summary</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1029</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>ContactstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Summary_Values</name>
        <label>Set Summary Values</label>
        <locationX>1031</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>Contacts.All_Items_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.All_Items_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contacts.All_NeedsSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.All_Needs_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contacts.All_Offers_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.All_Offers_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contacts.All_Library_Items_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.All_Library_Items_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Even_Day_of_the_month</name>
        <label>Even Day of the month</label>
        <locationX>772</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvenDays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Household_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Contact15Digits</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.ContactId},15)</expression>
    </formulas>
    <formulas>
        <name>EvenDays</name>
        <dataType>Boolean</dataType>
        <expression>IF(MOD(DAY({!$Flow.CurrentDate}), 2) == 0, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>HHID15</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.HouseholdID__c},15)</expression>
    </formulas>
    <interviewLabel>FIMBY Email Summary (Every Other Day) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIMBY Email Summary (Every Other Day)</label>
    <loops>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>777</locationX>
        <locationY>648</locationY>
        <collectionReference>Household_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Summary_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>781</locationX>
        <locationY>1006</locationY>
        <collectionReference>ContactstoUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Daily_FIMBY_Summary_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Household_Contacts</name>
        <label>Household Contacts</label>
        <locationX>777</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HHID15</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Household_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsEmailBounced</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Summary_Email_Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Every Other Day</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>781</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <inputReference>ContactstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Even_Day_of_the_month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIMBY_Daily_Summary_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FIMBY_Summary_Emails__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-10</startDate>
            <startTime>06:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContactstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
