FIMBY/force-app/main/default/flows/FIMBY_Public_Signup_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>ConnectFIX</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!connect}, &quot;%20&quot;, &quot; &quot;),&quot;%21&quot;, &quot;!&quot;),&quot;%22&quot;, &quot;\&quot;&quot;),&quot;%23&quot;, &quot;#&quot;),&quot;%24&quot;, &quot;$&quot;),&quot;%25&quot;, &quot;%&quot;),&quot;%26&quot;, &quot;&amp;&quot;),&quot;%27&quot;, &quot;&apos;&quot;),&quot;%2A&quot;, &quot;*&quot;),&quot;%2B&quot;, &quot;+&quot;),&quot;%2C&quot;, &quot;,&quot;),&quot;%2D&quot;, &quot;-&quot;),&quot;%2E&quot;, &quot;.&quot;)</expression>
    </formulas>
    <formulas>
        <name>emailfix</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!e}, &quot;%40&quot;,&quot;@&quot;)</expression>
    </formulas>
    <formulas>
        <name>FNFix</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!fn}, &quot;%20&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>LNfix</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ln}, &quot;%20&quot;, &quot; &quot;)</expression>
    </formulas>
    <interviewLabel>FIMBY Public Signup Page {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FIMBY Sign Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>776</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Connection_to_the_neighbourhood__c</field>
            <value>
                <elementReference>Connection_to_the_neighbourhood</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Nickname__c</field>
            <value>
                <elementReference>Household_Nickname_Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Postal_COde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <stringValue>BC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_community_issue_you_d_like_fixed__c</field>
            <value>
                <elementReference>One_community_issue_you_d_like_fixed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_should_neighbors_know_about_you__c</field>
            <value>
                <elementReference>What_should_neighbors_know_about_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_do_you_want_to_join_FIMBY__c</field>
            <value>
                <elementReference>Why_do_you_want_to_join_FIMBY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_you_connected_to_the_neighbourhood__c</field>
            <value>
                <elementReference>Year_you_connected_to_the_neighbourhood</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_favorite_local_place_to_visit__c</field>
            <value>
                <elementReference>Your_favorite_local_place_to_visit</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DisclaimerScreen</name>
        <label>Disclaimer</label>
        <locationX>777</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Signup_for_FIMBY</targetReference>
        </connector>
        <fields>
            <name>Disclaimer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Welcome to the FIMBY platform. Our mission is to unite the &quot;Christian Family&quot; in every neighbourhood, embracing differences and emphasizing acts of love and service in God&apos;s Kingdom. If &lt;/span&gt;&lt;a href=&quot;https://fimby.ca/home/values/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;our vision&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; aligns with your beliefs—seeing fellow Christians as family irrespective of their differences and acting in love, generosity, and vulnerability—we&apos;d be honored to have you.    Please &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;click &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&apos; to signup&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If not, please consider other platforms like:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://buynothingproject.org/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;buynothingproject.org&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://ca.nextdoor.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;nextdoor.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/marketplace/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;facebook.com/marketplace/&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Signup_for_FIMBY</name>
        <label>Signup for FIMBY</label>
        <locationX>776</locationX>
        <locationY>315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>PersonalDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Personal Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Signup_for_FIMBY_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Signup_for_FIMBY_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FNFix</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Your First Name can be a maximum of 40 characers&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!First_Name}) &lt; 41</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LNfix</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your Last Name can be a maximum of 120 characers&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Last_Name}) &lt;121</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>emailfix</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Signup_for_FIMBY_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Household_Nickname_Username</name>
                    <dataType>String</dataType>
                    <fieldText>Household Nickname / Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mailing_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Postal_COde</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Reason for Joining&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Why_do_you_want_to_join_FIMBY</name>
            <fieldText>Why do you want to join FIMBY?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CommunityTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Community Information&lt;/strong&gt; (Optional)&lt;/p&gt;&lt;p&gt;&lt;em&gt;Note: These answers will be displayed for your neighbours to read.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_should_neighbors_know_about_you</name>
            <fieldText>One interesting thing that your neighbors should know about you?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Year_you_connected_to_the_neighbourhood</name>
            <dataType>String</dataType>
            <fieldText>Year you first connected to the neighbourhood?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please Provide a 4 digit year (YYYY).&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Year_you_connected_to_the_neighbourhood})
||
(ISNUMBER({!Year_you_connected_to_the_neighbourhood})
&amp;&amp;
LEN({!Year_you_connected_to_the_neighbourhood}) = 4)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Connection_to_the_neighbourhood</name>
            <defaultValue>
                <stringValue>{!ConnectFIX}</stringValue>
            </defaultValue>
            <fieldText>Your connection to the neighbourhood?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Your_favorite_local_place_to_visit</name>
            <fieldText>Your favorite local place to visit?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>One_community_issue_you_d_like_fixed</name>
            <fieldText>One community issue you&apos;d like to see resolved?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Terms_and_Privacy_Notice</name>
            <fieldText>&lt;p style=&quot;font-size: 13px; color: #555;&quot;&gt;By signing up you confirm you have read FIMBY&apos;s &lt;a href=&quot;https://fimby.com/terms-of-service&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;Terms of Service&lt;/a&gt; and &lt;a href=&quot;https://fimby.com/privacy-policy&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;Privacy Policy&lt;/a&gt;. You&apos;ll be asked to formally accept the Terms the first time you log in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>771</locationX>
        <locationY>659</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankyouConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for requesting to join the FIMBY family.  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You will receive an email shortly that will inform you of the next steps.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>668</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>DisclaimerScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>connect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>e</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ln</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
