FIMBY/force-app/main/default/flows/Flag_Content.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_To_Record</name>
        <label>Go To Record</label>
        <locationX>882</locationX>
        <locationY>1209</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Moderator</name>
        <label>Moderator?</label>
        <locationX>873</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>Not_Moderator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reported_By.Site_Moderator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Offer_or_Response</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Offer_or_Response</name>
        <label>Need/Offer or Response</label>
        <locationX>872</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flagged_Need_Offer</targetReference>
            </connector>
            <label>Need/Offer</label>
        </rules>
        <rules>
            <name>Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flagged_Response</targetReference>
            </connector>
            <label>Response</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FlagContent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Flag_Inappropriate_Content__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HouseholdUsers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DefaultContact</name>
        <dataType>String</dataType>
        <expression>IF({!Household.npsp__Number_of_Household_Members__c} = 1, {!$User.ContactId}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>URL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/&quot; + {!recordId}</expression>
    </formulas>
    <interviewLabel>Flag Content {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flag Content</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Flagged_Need_Offer</name>
        <label>Flagged Need / Offer</label>
        <locationX>644</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Need_Offer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Flagged_Response</name>
        <label>Flagged Response</label>
        <locationX>1076</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Household</name>
        <label>Household</label>
        <locationX>882</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flag_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Reported_By</name>
        <label>Reported By</label>
        <locationX>883</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Moderator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Who_is_reporting_this_content</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Need_Offer</name>
        <label>Update Need/Offer</label>
        <locationX>642</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Confirmation_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flag_Inappropriate_Content__c</field>
            <value>
                <elementReference>Type_of_Inappropriate_Content</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flagged_Poster__c</field>
            <value>
                <elementReference>Flagged_Need_Offer.Posted_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hidden_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moderation_Status__c</field>
            <value>
                <stringValue>Hidden_By_Moderator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>Reported_By.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Response</name>
        <label>Update Response</label>
        <locationX>1077</locationX>
        <locationY>1033</locationY>
        <connector>
            <targetReference>Confirmation_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flag_Inappropriate_Content__c</field>
            <value>
                <elementReference>Type_of_Inappropriate_Content</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flagged_Responder__c</field>
            <value>
                <elementReference>Flagged_Response.Reply_To_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hidden_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moderation_Status__c</field>
            <value>
                <stringValue>Hidden_By_Moderator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>Reported_By.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Page</name>
        <label>Confirmation Page</label>
        <locationX>882</locationX>
        <locationY>1033</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_To_Record</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;The content has been removed from public view and will be reviewed by the system administrator.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Thank you for watching over our community.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flag_Content</name>
        <label>Flag Content</label>
        <locationX>883</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reported_By</targetReference>
        </connector>
        <fields>
            <name>Flag_Content_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flag_Content_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Who_is_reporting_this_content</name>
                    <choiceReferences>HouseholdUsers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultContact</elementReference>
                    </defaultValue>
                    <fieldText>Who is reporting this content?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flag_Content_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Inappropriate_Content</name>
                    <choiceReferences>FlagContent</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Inappropriate Content</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Moderator</name>
        <label>Not Moderator</label>
        <locationX>644</locationX>
        <locationY>631</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotModerator</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;You are not a FIMBY Site Moderator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Household</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
