FIMBY/force-app/main/default/flows/New_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_Need</name>
        <label>Go to Need</label>
        <locationX>1032</locationX>
        <locationY>488</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>NeedURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_New_Response</name>
        <label>Go to New Response</label>
        <locationX>690</locationX>
        <locationY>2070</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>NewResponseURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Goto_Household_Response</name>
        <label>Goto Household Response</label>
        <locationX>311</locationX>
        <locationY>755</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>MyResponseURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>687</locationX>
        <locationY>1785</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>COnfirmation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>communityId</name>
            <value>
                <stringValue>0DB5f000000PC0N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <elementReference>NewResponse.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PostRichChatter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Amount_Requested_Values</name>
        <label>Amount Requested Values</label>
        <locationX>295</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>NewResponse.Amount_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Resposne_By_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Declined_Amount_0</name>
        <label>Declined - Amount = 0</label>
        <locationX>558</locationX>
        <locationY>1257</locationY>
        <assignmentItems>
            <assignToReference>NewResponse.Amount_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Resposne_By_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Response_Values</name>
        <label>Response Values</label>
        <locationX>689</locationX>
        <locationY>1380</locationY>
        <assignmentItems>
            <assignToReference>NewResponse.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> {!ResponseByID}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Details_Long</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Need_Offer_Responded_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.On_Behalf_Of_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnBehalfOf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewResponse.Neighbourhood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Need_Offer.Neighbourhood__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Response_Values_0</name>
        <label>Response Values</label>
        <locationX>876</locationX>
        <locationY>1147</locationY>
        <assignmentItems>
            <assignToReference>NewResponse.Amount_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Requested</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Resposne_By_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Resposne_By_ID</name>
        <label>Set Resposne By ID</label>
        <locationX>688</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>ResponseByID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_By</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Response_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accept</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnotherPerson</name>
        <choiceText>Another Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Existing_Response_Found</name>
        <label>Existing Response Found</label>
        <locationX>677</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>New_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Response_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Responses.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message</targetReference>
            </connector>
            <label>Yes - Response Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Owned_By_This_User</name>
        <label>Need Owned By This User</label>
        <locationX>680</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Total_Available__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>None_Available</targetReference>
            </connector>
            <label>No More Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Provided</name>
        <label>Record Provided?</label>
        <locationX>683</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>NoPost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Offer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Amount_to_1</name>
        <label>Set Amount to 1?</label>
        <locationX>679</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Set_Resposne_By_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Requested</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Requested_Values</targetReference>
            </connector>
            <label>Yes - Set to 1</label>
        </rules>
        <rules>
            <name>Amount_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Requested</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_Values_0</targetReference>
            </connector>
            <label>Amount Selected</label>
        </rules>
        <rules>
            <name>DeclinedSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Declined_Amount_0</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HouseholdMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DetailsLength</name>
        <dataType>String</dataType>
        <expression>TEXT(LEN({!Response_Details_Long})-255)</expression>
    </formulas>
    <formulas>
        <name>MyResponseURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/response/&quot;  + {!Responses.Id}</expression>
    </formulas>
    <formulas>
        <name>NeedURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/needs-offers/&quot; + {!Need_Offer.Id}</expression>
    </formulas>
    <formulas>
        <name>NewResponseURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/response/&quot; + {!NewResponse.Id}</expression>
    </formulas>
    <formulas>
        <name>OnBehalfOf</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!BehalfOf.recordId}), {!BehalfOf.recordId}, {!ResponseByID})</expression>
    </formulas>
    <formulas>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Need_Offer.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>ResponseForDefault</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Response_For}), {!Response_For}, &quot;Self&quot;)</expression>
    </formulas>
    <formulas>
        <name>ResponseStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Amount_Requested} = 0, &quot;Declined&quot;,
IF({!Decline} = TRUE, &quot;Declined&quot;,
IF({!Need_Offer.Auto_Accept_Responses__c} = TRUE, &quot;Accepted&quot;, &quot;New&quot;)))</expression>
    </formulas>
    <formulas>
        <name>SubjectLength</name>
        <dataType>String</dataType>
        <expression>TEXT(LEN({!Subject})-80)</expression>
    </formulas>
    <interviewLabel>New Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response</name>
        <label>Create Response</label>
        <locationX>688</locationX>
        <locationY>1496</locationY>
        <connector>
            <targetReference>Sent_By</targetReference>
        </connector>
        <inputReference>NewResponse</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Need_Offer</name>
        <label>Need/Offer</label>
        <locationX>689</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_Owned_By_This_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Responses</name>
        <label>Responses</label>
        <locationX>686</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Response_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Need_Offer_Responded_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sent_By</name>
        <label>Sent By</label>
        <locationX>689</locationX>
        <locationY>1637</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResponseByID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>COnfirmation</name>
        <label>Confirmation</label>
        <locationX>691</locationX>
        <locationY>1934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_New_Response</targetReference>
        </connector>
        <fields>
            <name>Posted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Angels}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The angels have delivered your message.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Response</name>
        <label>New Response</label>
        <locationX>686</locationX>
        <locationY>975</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Amount_to_1</targetReference>
        </connector>
        <fields>
            <name>New_Response_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Response_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Need_Offer.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Need_Offer.Posting_Details__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Response_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Image</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Need_Offer.Image__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ResponseSection</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your Response:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Response_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Response_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Response_For</name>
                    <choiceReferences>Self</choiceReferences>
                    <choiceReferences>AnotherPerson</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ResponseForDefault</elementReference>
                    </defaultValue>
                    <fieldText>Response For:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BehalfOf</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>On_Behalf_Of_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>On Behalf Of:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Response__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>BehalfOf.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Response_For</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherPerson</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Response_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Response_By</name>
                    <choiceReferences>HouseholdMembers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Response_By</elementReference>
                    </defaultValue>
                    <fieldText>Response By:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Subjects can be a max &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;length &lt;/span&gt;of 80 characters.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The title must be 80 characters or less.  &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please reduce the title&apos;s length by {!SubjectLength} characters.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Subject}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Response_Details_Long</name>
            <fieldText>Response Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Response Details can be a max length of 255 characters.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Response Details must be 255 characters or less.  &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please reduce the length by {!DetailsLength} characters.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Response_Details_Long}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AmountAvailable</name>
            <fieldText>&lt;p&gt;Amount / Spots currently Available / Needed:   &lt;strong&gt;{!Need_Offer.Total_Available__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Need_Offer.Total_Available__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Amount_Requested</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Amount Requested / Offered / People Attending</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The default value is always 1 unless multiple&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;You cannot select a quantity that is above the &apos;Per Response Limit&apos; or more than what is available.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amount_Requested} &lt;= {!Need_Offer.Total_Available__c}
&amp;&amp;
{!Amount_Requested} &lt;= {!Need_Offer.Per_Response_Limit__c}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Need_Offer.Total_Available__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Decline</name>
            <dataType>Boolean</dataType>
            <fieldText>Decline Post</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Use this cbeckbox if you would like to send a response, without meeting the need or accepting the offer.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>None_Available</name>
        <label>None Available</label>
        <locationX>888</locationX>
        <locationY>490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_Need</targetReference>
        </connector>
        <fields>
            <name>OwnerMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Oh No!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;This post has already spoken for.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoPost</name>
        <label>NoPost</label>
        <locationX>445</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRecord</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;No Need or Offer selected.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Message</name>
        <label>Warning Message</label>
        <locationX>460</locationX>
        <locationY>755</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Goto_Household_Response</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Someone in your household has already responded. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;﻿Please check the status of &lt;/span&gt;&lt;a href=&quot;/{!Responses.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 123, 205); font-size: 16px;&quot;&gt;&lt;strong&gt;&lt;u&gt;your response&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; or chat feed posted on that response record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>565</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Record_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Angels</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;/resource/Impact_Icons/Angels.png&quot; alt=&quot;Angels.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Chatter</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Attn:  {!Need_Offer.Posted_By__r.FirstName} &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!NewResponse.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Response_Details_Long}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From:  {!Sent_By.FirstName} {!Sent_By.LastName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>HomePageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://fimby.my.site.com/s/</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
