FIMBY/force-app/main/default/flows/NPSP_Phone_and_Email_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AlternateEmail_Update</name>
        <label>AlternateEmail.Update</label>
        <locationX>766</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__AlternateEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Changed_Personal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Home_Phone_Update</name>
        <label>Home Phone Update</label>
        <locationX>751</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>$Record.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Changed_Mobile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mobile_Phone_Update</name>
        <label>Mobile Phone Update</label>
        <locationX>750</locationX>
        <locationY>1611</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Changed_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Phone_Update</name>
        <label>&apos;Other&apos; Phone Update</label>
        <locationX>746</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>$Record.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Changed_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Phone_Update_0</name>
        <label>Work Phone Update</label>
        <locationX>741</locationX>
        <locationY>2033</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__WorkPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preferred_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Personal_Email_Update</name>
        <label>Personal Email Update</label>
        <locationX>758</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__HomeEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Changed_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preferred_Email_Update</name>
        <label>Preferred Email Update</label>
        <locationX>740</locationX>
        <locationY>2212</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredEmailUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preferred_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preferred_Email_Update_0</name>
        <label>Preferred Email Update</label>
        <locationX>740</locationX>
        <locationY>2443</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredPhoneUpdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Preferred_Phone_to_Work_Work_Phone_to_Phone</name>
        <label>Preferred Phone to Work &amp; Work Phone to Phone</label>
        <locationX>754</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__PreferredPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.npe01__WorkPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_only_Paste_to_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pref_Email_to_Work_Set_Work_Email_to_Email</name>
        <label>Set Pref Email to Work &amp; Set Work Email to Email</label>
        <locationX>754</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.npe01__WorkEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Changed_Alternate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Email_Update</name>
        <label>Work Email Update</label>
        <locationX>748</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>$Record.npe01__WorkEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Changed_Home</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Changed_Alternate</name>
        <label>Email Changed Alternate</label>
        <locationX>488</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>Email_Changed_Personal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Email_Changed_Alternate</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlternateEmail_Update</targetReference>
            </connector>
            <label>Email Changed Alternate - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Changed_Personal</name>
        <label>Email Changed Personal</label>
        <locationX>491</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>Email_Changed_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Changed_Personal_TRUE</name>
            <conditionLogic>(1 OR 5) AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Personal_Email_Update</targetReference>
            </connector>
            <label>Email Changed Personal - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Changed_Work</name>
        <label>Email Changed Work</label>
        <locationX>492</locationX>
        <locationY>1173</locationY>
        <defaultConnector>
            <targetReference>Phone_Changed_Home</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Changed_Work_TRUE</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Email_Update</targetReference>
            </connector>
            <label>Email Changed Work - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_only_Paste_to_Work</name>
        <label>Email only: Paste to Work</label>
        <locationX>494</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Email_Changed_Alternate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_only_Paste_to_Work_TRUE</name>
            <conditionLogic>1 AND (2 OR 6 ) AND (3 OR 7) AND (4 OR 8) AND (5 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pref_Email_to_Work_Set_Work_Email_to_Email</targetReference>
            </connector>
            <label>Email only: Paste to Work - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_only_Paste_to_Work_0</name>
        <label>Email only: Paste to Work</label>
        <locationX>497</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Email_only_Paste_to_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_only_Paste_to_Work_TRUE</name>
            <conditionLogic>1 AND (2 OR 11 ) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8) AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HomePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HomePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preferred_Phone_to_Work_Work_Phone_to_Phone</targetReference>
            </connector>
            <label>Phone only: Paste to Work - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Changed_Home</name>
        <label>Phone Changed Home</label>
        <locationX>488</locationX>
        <locationY>1372</locationY>
        <defaultConnector>
            <targetReference>Phone_Changed_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Changed_Home_TRUE</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Phone_Update</targetReference>
            </connector>
            <label>Phone Changed Home - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Changed_Mobile</name>
        <label>Phone Changed Mobile</label>
        <locationX>484</locationX>
        <locationY>1592</locationY>
        <defaultConnector>
            <targetReference>Phone_Changed_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Changed_Mobile_TRUE</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Phone_Update</targetReference>
            </connector>
            <label>Phone Changed Mobile - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Changed_Other</name>
        <label>Phone Changed Other</label>
        <locationX>481</locationX>
        <locationY>1803</locationY>
        <defaultConnector>
            <targetReference>Phone_Changed_Work</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Changed_Other_TRUE</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Phone_Update</targetReference>
            </connector>
            <label>Phone Changed &apos;Other&apos; - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Changed_Work</name>
        <label>Phone Changed Work</label>
        <locationX>480</locationX>
        <locationY>2013</locationY>
        <defaultConnector>
            <targetReference>Preferred_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Changed_Other_TRUE_0</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Phone_Update_0</targetReference>
            </connector>
            <label>Phone Changed &apos;Other&apos; - TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Email</name>
        <label>Preferred Email</label>
        <locationX>478</locationX>
        <locationY>2202</locationY>
        <defaultConnector>
            <targetReference>Preferred_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preferred_Email_Changed</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4 OR 5 OR 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe01__Preferred_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe01__WorkEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__HomeEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe01__HomeEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__AlternateEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe01__AlternateEmail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preferred_Email_Update</targetReference>
            </connector>
            <label>Preferred Email Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preferred_Phone</name>
        <label>Preferred Phone</label>
        <locationX>478</locationX>
        <locationY>2426</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preferred_Phone_Changed</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4 OR 5 OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe01__PreferredPhone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkPhone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npe01__WorkPhone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HomePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.HomePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OtherPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preferred_Email_Update_0</targetReference>
            </connector>
            <label>Preferred Phone Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>PreferredEmailUpdate</name>
        <dataType>String</dataType>
        <expression>CASE(
 {!$Record.npe01__Preferred_Email__c} ,

&quot;Work&quot;,
if(len({!$Record.npe01__WorkEmail__c})&gt;0, {!$Record.npe01__WorkEmail__c},
if(len({!$Record.npe01__HomeEmail__c})&gt;0, {!$Record.npe01__HomeEmail__c},
{!$Record.npe01__AlternateEmail__c})),

&quot;Personal&quot;,
if(len({!$Record.npe01__HomeEmail__c})&gt;0, {!$Record.npe01__HomeEmail__c},
if(len({!$Record.npe01__WorkEmail__c})&gt;0, {!$Record.npe01__WorkEmail__c},
{!$Record.npe01__AlternateEmail__c})),

&quot;Home&quot;,
if(len({!$Record.npe01__HomeEmail__c})&gt;0, {!$Record.npe01__HomeEmail__c},
if(len({!$Record.npe01__WorkEmail__c})&gt;0, {!$Record.npe01__WorkEmail__c},
{!$Record.npe01__AlternateEmail__c})),

&quot;Alternate&quot;,
if(len({!$Record.npe01__AlternateEmail__c})&gt;0, {!$Record.npe01__AlternateEmail__c},
if(len({!$Record.npe01__WorkEmail__c})&gt;0, {!$Record.npe01__WorkEmail__c},
{!$Record.npe01__HomeEmail__c})),

If(LEN({!$Record.npe01__WorkEmail__c})&gt;0 , {!$Record.npe01__WorkEmail__c} ,
if(LEN( {!$Record.npe01__HomeEmail__c})&gt;0, {!$Record.npe01__HomeEmail__c},
{!$Record.npe01__AlternateEmail__c}
)))</expression>
    </formulas>
    <formulas>
        <name>PreferredPhoneUpdate</name>
        <dataType>String</dataType>
        <expression>CASE(
{!$Record.npe01__PreferredPhone__c} ,
&quot;Work&quot;,
{!$Record.npe01__WorkPhone__c} ,
&quot;Home&quot;,
{!$Record.HomePhone},
&quot;Mobile&quot;,
{!$Record.MobilePhone},
&quot;Other&quot;,
{!$Record.OtherPhone},
If(LEN( {!$Record.npe01__WorkPhone__c} )&gt;0 , {!$Record.npe01__WorkPhone__c} ,
if(LEN( {!$Record.HomePhone})&gt;0, {!$Record.HomePhone},
if(LEN( {!$Record.MobilePhone})&gt;0, {!$Record.MobilePhone},
{!$Record.OtherPhone}
))))</expression>
    </formulas>
    <interviewLabel>NPSP Phone and Email Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPSP Phone and Email Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>377</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Email_only_Paste_to_Work_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>npe01__Preferred_Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__PreferredPhone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__HomeEmail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__WorkEmail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__AlternateEmail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OtherPhone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__WorkPhone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Preferred_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__PreferredPhone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__HomeEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__WorkEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__AlternateEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OtherPhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__WorkPhone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
