FIMBY/force-app/main/default/flows/Place_Contact_Into_Boundary_Neighbourhood_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Postal_Code_Found</name>
        <label>Postal Code Found</label>
        <locationX>577</locationX>
        <locationY>522</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Postal_Code.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Accounts</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Place Contact Into Boundary &amp; Neighbourhood Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Place Contact Into Boundary &amp; Neighbourhood Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Postal_Code</name>
        <label>Find Postal Code</label>
        <locationX>583</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Postal_Code_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Postal_Code_No_Spaces__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postal_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Accounts</name>
        <label>Update Contact Accounts</label>
        <locationX>588</locationX>
        <locationY>713</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Find_Postal_Code.Boundary_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Affiliation__c</field>
            <value>
                <elementReference>Find_Postal_Code.Boundary_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Find_Postal_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MailingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
