FIMBY/force-app/main/default/flows/Populate_Weekly_Values_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Item_Table</name>
        <label>Add to Item Table</label>
        <locationX>1457</locationX>
        <locationY>2331</locationY>
        <assignmentItems>
            <assignToReference>LibraryItemTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LibraryItemLineTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Library_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Story_Table</name>
        <label>Add to Story Table</label>
        <locationX>172</locationX>
        <locationY>2912</locationY>
        <assignmentItems>
            <assignToReference>StoryTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StoryTableLineTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToTable</name>
        <label>AddToTable</label>
        <locationX>105</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>EventTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventTableLineTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToTable_0</name>
        <label>AddToTable</label>
        <locationX>1487</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>NeedTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NeedTableLineTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNeeds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToTable_0_0</name>
        <label>AddToTable</label>
        <locationX>86</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>OfferTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OfferTableLineTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOffers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Table</name>
        <label>Close Table</label>
        <locationX>566</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>EventTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Table_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Table_0</name>
        <label>Close Table</label>
        <locationX>592</locationX>
        <locationY>3112</locationY>
        <assignmentItems>
            <assignToReference>StoryTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Table_on_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Table_0_0</name>
        <label>Close Table</label>
        <locationX>1074</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NeedTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Table_on_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Table_0_0_0</name>
        <label>Close Table</label>
        <locationX>543</locationX>
        <locationY>1903</locationY>
        <assignmentItems>
            <assignToReference>OfferTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Table_on_Account_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Table_0_0_0_0</name>
        <label>Close Table</label>
        <locationX>1010</locationX>
        <locationY>2509</locationY>
        <assignmentItems>
            <assignToReference>LibraryItemTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Table_on_Account_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Text</name>
        <label>Set All Text</label>
        <locationX>784</locationX>
        <locationY>3281</locationY>
        <assignmentItems>
            <assignToReference>Account.All_Summaries_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Blank_Item_Values</name>
        <label>Set Blank Item Values</label>
        <locationX>790</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>Account.Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Items_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Blank_Item_Values_0</name>
        <label>Set Blank Item Values</label>
        <locationX>784</locationX>
        <locationY>3089</locationY>
        <assignmentItems>
            <assignToReference>Account.Story_Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Stories_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_All_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Blank_Item_Values_0_0</name>
        <label>Set Blank Item Values</label>
        <locationX>796</locationX>
        <locationY>1328</locationY>
        <assignmentItems>
            <assignToReference>Account.Need_Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Needs_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Blank_Item_Values_0_0_0</name>
        <label>Set Blank Item Values</label>
        <locationX>784</locationX>
        <locationY>1912</locationY>
        <assignmentItems>
            <assignToReference>Account.Offer_Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Offers_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Library_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Blank_Item_Values_0_0_0_0</name>
        <label>Set Blank Item Values</label>
        <locationX>782</locationX>
        <locationY>2511</locationY>
        <assignmentItems>
            <assignToReference>Account.Library_Item_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Library_Items_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_of_Events</name>
        <label>Set Count of Events</label>
        <locationX>789</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>EventSummaryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Events</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Items_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Events_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_of_Needs</name>
        <label>Set Count of Needs</label>
        <locationX>795</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>NeedCountSummary</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Needs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Needs_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_of_Offers</name>
        <label>Set Count of Offers</label>
        <locationX>794</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>OfferSummaryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Offers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.All_Offers_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offers_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Count</name>
        <label>Set Item Count</label>
        <locationX>782</locationX>
        <locationY>2177</locationY>
        <assignmentItems>
            <assignToReference>LibraryItemCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Library_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Library_Items_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Story_Count</name>
        <label>Set Story Count</label>
        <locationX>782</locationX>
        <locationY>2782</locationY>
        <assignmentItems>
            <assignToReference>StoriesSummaryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Stories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stories_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Table_on_Account</name>
        <label>Set Table on Account</label>
        <locationX>564</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>Account.All_Items_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>493934c1-7974-4f96-99e1-c56892ed08d1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventSummaryCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Table_on_Account_0</name>
        <label>Set Table on Account</label>
        <locationX>590</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>Account.All_Stories_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6634ce6e-df1c-4b0a-9909-0d3f64bd0434</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Story_Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoriesSummaryCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_All_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Table_on_Account_0_0</name>
        <label>Set Table on Account</label>
        <locationX>1072</locationX>
        <locationY>1460</locationY>
        <assignmentItems>
            <assignToReference>Account.All_Needs_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1b37f220-73b2-40d7-98dd-f34dc9a71886</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Need_Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NeedCountSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Table_on_Account_0_0_0</name>
        <label>Set Table on Account</label>
        <locationX>541</locationX>
        <locationY>2041</locationY>
        <assignmentItems>
            <assignToReference>Account.All_Offers_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5809a0f3-ed0e-4ac6-87b5-48e7e4fb3a42</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Offer_Summary_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferSummaryCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Library_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Table_on_Account_0_0_0_0</name>
        <label>Set Table on Account</label>
        <locationX>1011</locationX>
        <locationY>2657</locationY>
        <assignmentItems>
            <assignToReference>Account.All_Library_Items_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3be06a49-6f81-4a48-b78b-51f0cf5399f3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Library_Item_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LibraryItemCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Event_Table_Size</name>
        <label>Check Event Table Size</label>
        <locationX>325</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>Close_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Maxed Out</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventTableSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>131072.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToTable</targetReference>
            </connector>
            <label>Yes Add More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Library_Table_Size</name>
        <label>Check Library Table Size</label>
        <locationX>1227</locationX>
        <locationY>2394</locationY>
        <defaultConnector>
            <targetReference>Close_Table_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_to_Table</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LibraryItemTableSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>131072.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Item_Table</targetReference>
            </connector>
            <label>Add to Table</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Need_Table_Size</name>
        <label>Check Need Table Size</label>
        <locationX>1287</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Close_Table_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Maxed Out</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedTableSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>131072.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToTable_0</targetReference>
            </connector>
            <label>Yes Add More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Offer_Table_Size</name>
        <label>Check Offer Table Size</label>
        <locationX>297</locationX>
        <locationY>1778</locationY>
        <defaultConnector>
            <targetReference>Close_Table_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Maxed Out</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfferTableSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>131072.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToTable_0_0</targetReference>
            </connector>
            <label>Yes Add More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Story_Table_Size</name>
        <label>Check Story Table Size</label>
        <locationX>381</locationX>
        <locationY>2976</locationY>
        <defaultConnector>
            <targetReference>Close_Table_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Maxed Out</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoryTableSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>131072.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Story_Table</targetReference>
            </connector>
            <label>Yes Add More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Events_Found</name>
        <label>Events Found</label>
        <locationX>782</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Set_Blank_Item_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventSummaryCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopEvents</targetReference>
            </connector>
            <label>Yes - Items Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Library_Items_Found</name>
        <label>Library Items Found</label>
        <locationX>774</locationX>
        <locationY>2332</locationY>
        <defaultConnector>
            <targetReference>Set_Blank_Item_Values_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LibraryItemCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Library_Items_Loop</targetReference>
            </connector>
            <label>Items Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Found</name>
        <label>Needs Found</label>
        <locationX>788</locationX>
        <locationY>1145</locationY>
        <defaultConnector>
            <targetReference>Set_Blank_Item_Values_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Needs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedCountSummary</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopNeeds</targetReference>
            </connector>
            <label>Yes Needs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offers_Found</name>
        <label>Offers Found</label>
        <locationX>776</locationX>
        <locationY>1729</locationY>
        <defaultConnector>
            <targetReference>Set_Blank_Item_Values_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Offers_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfferSummaryCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOffers</targetReference>
            </connector>
            <label>Yes - Offers Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stories_Found</name>
        <label>Stories Found</label>
        <locationX>772</locationX>
        <locationY>2914</locationY>
        <defaultConnector>
            <targetReference>Set_Blank_Item_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Stories_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoriesSummaryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Stories</targetReference>
            </connector>
            <label>Yes Stories Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AllText</name>
        <dataType>String</dataType>
        <expression>IF({!EventSummaryCount} &gt; 0, {!EventTable}, &quot;&quot;)+
IF({!NeedCountSummary} &gt;0, {!NeedTable}, &quot;&quot;)+
IF({!OfferSummaryCount}&gt; 0, {!OfferTable}, &quot;&quot;)+
IF({!LibraryItemCount}&gt;0, {!LibraryItemTable}, &quot;&quot;)+
IF({!StoriesSummaryCount}&gt;0, {!StoryTable}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>EventTableSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!EventTable}) + LEN({!EventTableLineTemplate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LibraryItemTableSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!LibraryItemTable}) + LEN({!LibraryItemLineTemplate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MessageLineBreaks</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Loop_Stories.Message__c}, &quot;/n&quot;, &quot;&lt;BR&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NeedTableSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!NeedTable}) + LEN({!NeedTableLineTemplate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OfferTableSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!OfferTable}) + LEN({!OfferTableLineTemplate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StoryTableSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!StoryTable}) + LEN({!StoryTableLineTemplate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Populate Weekly Values on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Weekly Values on Account</label>
    <loops>
        <name>Library_Items_Loop</name>
        <label>Library Items Loop</label>
        <locationX>1008</locationX>
        <locationY>2331</locationY>
        <collectionReference>Library_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Library_Table_Size</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Table_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Stories</name>
        <label>Loop Stories</label>
        <locationX>595</locationX>
        <locationY>2914</locationY>
        <collectionReference>Stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Story_Table_Size</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Table_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopEvents</name>
        <label>LoopEvents</label>
        <locationX>565</locationX>
        <locationY>585</locationY>
        <collectionReference>Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Event_Table_Size</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopNeeds</name>
        <label>LoopNeeds</label>
        <locationX>1073</locationX>
        <locationY>1146</locationY>
        <collectionReference>Needs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Need_Table_Size</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Table_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOffers</name>
        <label>LoopOffers</label>
        <locationX>542</locationX>
        <locationY>1727</locationY>
        <collectionReference>Offers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Offer_Table_Size</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Table_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>782</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Events</name>
        <label>Events</label>
        <locationX>784</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Neighbourhood__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed (Offer Accepted / Need Met)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_Last_7_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Available__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <sortField>Category_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Library_Items</name>
        <label>Library Items</label>
        <locationX>778</locationX>
        <locationY>2058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Item_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_Last_7_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Removed from Library</stringValue>
            </value>
        </filters>
        <filters>
            <field>Neighbourhood__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Library_Item__c</object>
        <sortField>Category__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Needs</name>
        <label>Needs</label>
        <locationX>791</locationX>
        <locationY>895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Needs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Neighbourhood__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed (Offer Accepted / Need Met)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_Last_7_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Need</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Available__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <sortField>Category_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Offers</name>
        <label>Offers</label>
        <locationX>796</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Offers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Neighbourhood__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed (Offer Accepted / Need Met)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_Last_7_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Available__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <sortField>Category_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Stories</name>
        <label>Stories</label>
        <locationX>782</locationX>
        <locationY>2658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Story_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Neighbourhood__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Share_with_Neighbours__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_In_the_Last_7_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Story__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>788</locationX>
        <locationY>3433</locationY>
        <connector>
            <targetReference>Weekly_Email_HTML</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Weekly_Email_HTML</name>
        <label>Weekly Email HTML</label>
        <locationX>788</locationX>
        <locationY>3608</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HTML</name>
            <fieldText>&lt;p&gt;&quot;{!AllText}&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>656</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EventTableLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;border-bottom: 1px solid #F5F5F5;;border-collapse: collapse;&quot;&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: left;padding: 10px;&quot;&gt;{!LoopEvents.Email_Image__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;padding: 10px;&quot;&gt;&lt;b&gt;{!LoopEvents.Portal_Title__c}:&lt;/b&gt;&lt;br&gt;{!LoopEvents.Full_Details__c}&lt;br&gt;{!LoopEvents.Portal_Posting_Details__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;padding: 10px;&quot;&gt;{!LoopEvents.Event_Details__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: center&quot;&gt;{!LoopEvents.Respond__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LibraryItemLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;border-bottom: 1px solid #F5F5F5;border-collapse: collapse;&quot;&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: left;padding: 10px;&quot;&gt;{!Library_Items_Loop.Email_Image__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;padding: 10px;&quot;&gt;&lt;b&gt;{!Library_Items_Loop.Portal_Title__c}:&lt;/b&gt;&lt;br&gt;{!Library_Items_Loop.Description__c}&lt;br&gt;{!Library_Items_Loop.Library_Item_Portal_Details__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: center&quot;&gt;{!Library_Items_Loop.Borrow_Link__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NeedTableLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;border-bottom: 1px solid #F5F5F5;border-collapse: collapse;&quot;&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: left;padding: 10px;&quot;&gt;{!LoopNeeds.Email_Image__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;padding: 10px;&quot;&gt;&lt;b&gt;{!LoopNeeds.Portal_Title__c}:&lt;/b&gt;&lt;br&gt;{!LoopNeeds.Full_Details__c}&lt;br&gt;{!LoopNeeds.Portal_Posting_Details__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: center&quot;&gt;{!LoopNeeds.Respond__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OfferTableLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;border-bottom: 1px solid #F5F5F5;border-collapse: collapse;&quot;&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: left;padding: 10px;&quot;&gt;{!LoopOffers.Email_Image__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;padding: 10px;&quot;&gt;&lt;b&gt;{!LoopOffers.Portal_Title__c}:&lt;/b&gt; &lt;br&gt;{!LoopOffers.Full_Details__c}&lt;br&gt;{!LoopOffers.Portal_Posting_Details__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: center&quot;&gt;{!LoopOffers.Respond__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>StoryTableLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;border-bottom: 1px solid #F5F5F5;border-collapse: collapse;&quot;&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: left;padding: 10px; vertical-align: top;&quot;&gt;{!Loop_Stories.Email_Image__c}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;padding: 10px;&quot;&gt;{!Loop_Stories.Posting_Details__c}&lt;br&gt;&lt;br&gt;&lt;b&gt;{!Loop_Stories.Portal_Title__c}&lt;/b&gt;&lt;br&gt;{!MessageLineBreaks}&lt;/td&gt;
&lt;td style=&quot;border: 1px solid #F5F5F5;border-collapse: collapse;text-align: center;vertical-align: top;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;&quot;&gt;{!Loop_Stories.Comment__c}&lt;/td&gt;&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>EventSummaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EventTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%; border: 1px solid #F5F5F5;border-collapse: collapse;&quot;&gt;     &lt;tr&gt;         &lt;th colspan=&quot;4&quot; style=&quot;padding: 10px;border: 1px solid #F5F5F5;;border-collapse: collapse;text-align:center;vertical-align: middle;background-color:#E0F7FD;color:#6ABBD0;font-size:22pt;&quot;&gt;Events&lt;/th&gt;     &lt;/tr&gt;     &lt;tr&gt;         &lt;td style=&quot;border: 1px solid #F5F5F5; padding: 10px;font-weight: bold; color: #A4A4A4; width: 20%;&quot;&gt;Link&lt;/td&gt;         &lt;td style=&quot;border: 1px solid #F5F5F5; font-weight: bold; color: #A4A4A4;padding: 10px;&quot;&gt;Details&lt;/td&gt;         &lt;td style=&quot;border: 1px solid #F5F5F5; font-weight: bold; color: #A4A4A4;padding: 10px;width: 20%;&quot;&gt;Times &amp; Location&lt;/td&gt;         &lt;td style=&quot;border: 1px solid #F5F5F5; font-weight: bold; text-align: center; width: 15%; color: #A4A4A4;&quot;&gt;RSVP&lt;/td&gt;     &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>LibraryItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LibraryItemTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%; border: 1px solid #F5F5F5;border-collapse: collapse;&quot;&gt; &lt;th colspan=&quot;3&quot; style=&quot;padding: 10px;border: 1px solid #F5F5F5;;border-collapse: collapse;text-align:center;vertical-align: middle;background-color:#E0F7FD;color:#6ABBD0;font-size:22pt;&quot; &gt;Ready to Lend&lt;/th&gt;&lt;/tr&gt; &lt;tr&gt; &lt;th style=&quot;border: 1px solid #F5F5F5;width:20%;text-align:left;padding: 10px;color: #A4A4A4;&quot;&gt;Link&lt;/th&gt;   &lt;th style=&quot;border: 1px solid #F5F5F5;text-align:left;color: #A4A4A4;padding: 10px;&quot;&gt;Details&lt;/th&gt;   &lt;th style=&quot;border: 1px solid #F5F5F5;text-align: center;width:15%;color: #A4A4A4;&quot;&gt;Borrow&lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>NeedCountSummary</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NeedTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%; border: 1px solid #F5F5F5; border-collapse: collapse; &quot;&gt;     &lt;tr&gt;         &lt;th colspan=&quot;3&quot; style=&quot;padding: 10px;border: 1px solid #F5F5F5;;border-collapse: collapse;text-align:center;vertical-align: middle;background-color:#E0F7FD;color:#6ABBD0;font-size:22pt;&quot;&gt;Needs&lt;/th&gt;     &lt;/tr&gt;     &lt;tr&gt;         &lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;padding: 10px;color:#A4A4A4;width:20%;&quot;&gt;Link&lt;/td&gt;         &lt;td style=&quot;border: 1px solid #F5F5F5;color:#A4A4A4;font-weight:bold;padding: 10px;&quot;&gt;Details&lt;/td&gt;         &lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;text-align: center;color:#A4A4A4;width:15%;&quot;&gt;Respond&lt;/td&gt;     &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>OfferSummaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OfferTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%; border: 1px solid #F5F5F5;border-collapse: collapse; &quot;&gt;&lt;tr&gt;&lt;th colspan=&quot;3&quot; style=&quot;padding: 10px;border: 1px solid #F5F5F5;;border-collapse: collapse;text-align:center;vertical-align: middle;background-color:#E0F7FD;color:#6ABBD0;font-size:22pt;&quot; &gt;Offers&lt;/th&gt;&lt;/tr&gt;     &lt;tr&gt; &lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;padding: 10px;color:#A4A4A4;width:20%;&quot;&gt;Link&lt;/td&gt;   &lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;color:#A4A4A4;padding: 10px;&quot;&gt;Details&lt;/td&gt;    &lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;text-align: center;color:#A4A4A4;width:15%;&quot;&gt;Respond&lt;/th&gt;&lt;/td&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoriesSummaryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StoryTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%; border: 1px solid #F5F5F5;border-collapse: collapse;&quot;&gt;&lt;tr&gt;  &lt;th colspan=&quot;3&quot; style=&quot;padding: 10px;border: 1px solid #F5F5F5;;border-collapse: collapse;text-align:center;vertical-align: top;background-color:#E0F7FD;color:#6ABBD0;font-size:22pt;&quot; &gt;Shared Life&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;padding: 10px;color:#A4A4A4;width:25%;&quot;&gt;Link&lt;/td&gt; &lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;color:#A4A4A4;padding: 10px; width:60%&quot;&gt;Message&lt;/td&gt;  &lt;td style=&quot;border: 1px solid #F5F5F5;font-weight:bold;text-align: center;color:#A4A4A4;width:15%;&quot;&gt;Comment&lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
</Flow>
