FIMBY/force-app/main/default/flows/Post_a_Story.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_Story</name>
        <label>Go to Story</label>
        <locationX>771</locationX>
        <locationY>1418</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>StoryURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Dedication_Required</name>
        <label>Dedication Required</label>
        <locationX>514</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>DedicationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_a_Story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Double_Dedication_Warning</name>
        <label>Double Dedication</label>
        <locationX>521</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>DoubleDedication</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_a_Story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PostByID</name>
        <label>Set PostByID</label>
        <locationX>780</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>PostByID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Posting_By</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sharing</name>
        <label>Set Sharing</label>
        <locationX>930</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>SharewithNeighbours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Share_with_Neighbours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DedicationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoubleDedication</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dedicatex_to_Populatex_in_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validation_Error</name>
        <label>Set Validation Error</label>
        <locationX>1024</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>ValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_a_Story</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AnotherOrganization</name>
        <choiceText>Another Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Organization</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnotherPerson</name>
        <choiceText>Another Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultContact</name>
        <choiceText>{!UserContact.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UserContact.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Dedicatex_to_Populatex_in_Error</name>
        <label>Dedicatex to Populatex in Error</label>
        <locationX>781</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Set_PostByID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Double_Dedication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DedicatedToPerson.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DedicatedToOrg.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Double_Dedication_Warning</targetReference>
            </connector>
            <label>Double Dedication</label>
        </rules>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypePicklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prayer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypePicklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Thank You</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DedicatedToPerson.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error</targetReference>
            </connector>
            <label>Populated in Error</label>
        </rules>
        <rules>
            <name>Private_Needs_Dedication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Share_with_Neighbours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DedicatedToPerson.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedication_Required</targetReference>
            </connector>
            <label>Private Needs Dedication</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upload_a_Photo</name>
        <label>Upload a Photo</label>
        <locationX>770</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>New_Story</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Photo_Story</targetReference>
            </connector>
            <label>Yes - Photo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HHMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PostByID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Image_1_Dimensions__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceipientType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Giver_Recipient_Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StoryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Story__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContactID</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!OtherPersonContact.recordId}), {!OtherPersonContact.recordId}, 
IF({!Posting_For}= &quot;Self&quot;, {!PostByID},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>ContactIdDefault</name>
        <dataType>String</dataType>
        <expression>IF({!HHCount} = 1, {!DefaultContactID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DefaultSharing</name>
        <dataType>Boolean</dataType>
        <expression>IF({!SharewithNeighbours} != TRUE &amp;&amp; {!SharewithNeighbours} != FALSE, TRUE, {!SharewithNeighbours})</expression>
    </formulas>
    <formulas>
        <name>FileID</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Response}, &quot;FileId:&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MessagePreview</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!MessagePlus.value})&gt;252, LEFT({!MessagePlus.value},252) + &quot;...&quot;, {!MessagePlus.value})</expression>
    </formulas>
    <formulas>
        <name>PhotoURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BASEURL}, &quot;DRIVE_FILE_ID&quot;, {!FileID})</expression>
    </formulas>
    <formulas>
        <name>PostForDynamic</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!OtherPersonContact.recordId}), {!OtherPersonContact.recordId}, {!PostByID})</expression>
    </formulas>
    <formulas>
        <name>PostingForDefault</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Posting_For}), {!Posting_For}, &quot;Self&quot;)</expression>
    </formulas>
    <formulas>
        <name>StoryURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/story/&quot;+ {!Create_Story}</expression>
    </formulas>
    <interviewLabel>Post a Story {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post a Story</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Story</name>
        <label>Create Story</label>
        <locationX>779</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Upload_a_Photo</targetReference>
        </connector>
        <inputAssignments>
            <field>Dedicated_To_Person__c</field>
            <value>
                <elementReference>DedicatedToPerson.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message_Preview__c</field>
            <value>
                <elementReference>MessagePreview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>MessagePlus.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TitlePlus.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Neighbourhood__c</field>
            <value>
                <elementReference>UserContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posted_By__c</field>
            <value>
                <elementReference>PostByID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posted_For_Organization__c</field>
            <value>
                <elementReference>OtherOrganization.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posted_For_Person__c</field>
            <value>
                <elementReference>PostForDynamic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Details__c</field>
            <value>
                <elementReference>ReceipentTypeDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_on_Social_Media__c</field>
            <value>
                <elementReference>Permission_to_Share_on_Social_Media</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_with_Neighbours__c</field>
            <value>
                <elementReference>Share_with_Neighbours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Household</name>
        <label>Household</label>
        <locationX>788</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_a_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>DefaultContactID</assignToReference>
            <field>npe01__One2OneContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HHCount</assignToReference>
            <field>npsp__Number_of_Household_Members__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserContact</name>
        <label>UserContact</label>
        <locationX>789</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Story</name>
        <label>New Story</label>
        <locationX>775</locationX>
        <locationY>1256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_Story</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Thanks}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&quot;&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 121, 9);&quot;&gt;{!TitlePlus.value}&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&quot; has been posted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_a_Story</name>
        <label>Post a Story</label>
        <locationX>786</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Sharing</targetReference>
        </connector>
        <fields>
            <name>PosterInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Poster Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_a_Story_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_a_Story_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Posting_For</name>
                    <choiceReferences>Self</choiceReferences>
                    <choiceReferences>AnotherPerson</choiceReferences>
                    <choiceReferences>AnotherOrganization</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PostingForDefault</elementReference>
                    </defaultValue>
                    <fieldText>Posting For</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OtherPersonContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Person&apos;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Needs_Offers__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherPerson</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OtherOrganization</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Organization&apos;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Posted_For_Organization__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Story__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherOrganization</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ReceipentTypeDetails</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ReceipentTypeDetails</elementReference>
                    </defaultValue>
                    <fieldText>Relationship to the person you are posting for.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Self</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_a_Story_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Posting_By</name>
                    <choiceReferences>HHMembers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactIdDefault</elementReference>
                    </defaultValue>
                    <fieldText>Posting By:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PostDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Post Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_a_Story_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_a_Story_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TypePicklist</name>
                    <choiceReferences>StoryType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TypePicklist</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Dedication</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt;Note: &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Only Prayers and Thank You&apos;s can have dedications.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dedications are optional if a post is &lt;/em&gt;&lt;em&gt;&apos;Shared With Neighbours&apos;&lt;/em&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; but required if a post is private.&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dedications can be for either a person or Organization / Household but not both.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_a_Story_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DedicatedToPerson</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Dedicated_To_Person__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dedicated To (Person)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Story__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Prayer</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Thank You</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DedicatedToOrg</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Dedicated_To_Household_Organization__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dedicated To (Household \ Organization)	</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Story__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Prayer</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Thank You</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Double</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You cannot dedicate to a person AND an organization / Household.  Please select 1 only.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DoubleDedication</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Warning</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;You can only add a dedication to &apos;Prayer&apos;s and &apos;Thank You&apos;s.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ValidationError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DedicationRequiredMsg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;To post a private Prayer or Thank You, you must select a person that it&apos;s &apos;Dedicated To&apos;. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Otherwise, select &apos;Share With Neighbours&apos; to make the post public.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DedicationRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TitlePlus</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TitlePlus.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MessagePlus</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>20000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>MessagePlus.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PostSettings</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Post Sharing&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you are comfortable, sharing your post publicly is a great way to foster community and connection.   Additionally, offering to share on social helps shine our light into the world.  (Matt &lt;/span&gt;5:14-16)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_a_Story_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_a_Story_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Share_with_Neighbours</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SharewithNeighbours</elementReference>
                    </defaultValue>
                    <fieldText>Share With Neighbours</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;A post must be dedicated to someone if it is to remain private otherwise there is no one to delivery the message to.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Share_with_Neighbours} = FALSE
&amp;&amp;
!ISBLANK({!DedicatedToPerson.recordId}))
||
({!Share_with_Neighbours} = TRUE
&amp;&amp;
ISBLANK({!DedicatedToPerson.recordId}))
||
({!Share_with_Neighbours} = TRUE
&amp;&amp;
!ISBLANK({!DedicatedToPerson.recordId}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_a_Story_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Permission_to_Share_on_Social_Media</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Permission_to_Share_on_Social_Media</elementReference>
                    </defaultValue>
                    <fieldText>Permission to Share on Social Media</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Photo&quot;,&quot;value&quot;:&quot;Photo&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Post Now&quot;,&quot;value&quot;:&quot;Post&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>663</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UserContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upload_Photo_Story</name>
        <label>Upload Photo Story</label>
        <locationX>986</locationX>
        <locationY>1064</locationY>
        <connector>
            <targetReference>New_Story</targetReference>
        </connector>
        <flowName>Upload_Story_Photo</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Story</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Thanks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;/resource/Impact_Icons/Thanks.png&quot; alt=&quot;Thanks.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BASEURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://drive.google.com/uc?id=DRIVE_FILE_ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>DedicationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DefaultContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DoubleDedication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HHCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PostByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SharewithNeighbours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ValidationError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
