FIMBY/force-app/main/default/flows/Post_A_Need.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_Need</name>
        <label>Go to Need</label>
        <locationX>767</locationX>
        <locationY>1314</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>NeedURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_PostByID</name>
        <label>Set PostByID</label>
        <locationX>781</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>PostByID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Posting_By</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NeedRecordID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AnotherOrganization</name>
        <choiceText>Another Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Organization</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnotherPerson</name>
        <choiceText>Another Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Upload_a_Photo</name>
        <label>Upload a Photo</label>
        <locationX>766</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>New_Need</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Photo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UploadaPhoto</targetReference>
            </connector>
            <label>Yes - Photo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HHMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PostByID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Image_1_Dimensions__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceipientType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Giver_Recipient_Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ClickHere</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot;+{!Create_Need}, &quot;Click Here to View&quot;)</expression>
    </formulas>
    <formulas>
        <name>ContactID</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!OtherPersonContact.recordId}), {!OtherPersonContact.recordId}, 
IF({!Posting_For}= &quot;Self&quot;, {!PostByID},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>DefaultContact</name>
        <dataType>String</dataType>
        <expression>IF({!HHCount}=1, {!defaultcontactid}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DefaultStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(!ISBLANK({!Start_Date}), {!Start_Date}, {!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>DetailPreview</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!DescriptionPlus.value}) &lt;= 255, {!DescriptionPlus.value}, LEFT({!DescriptionPlus.value},252) + &quot;...&quot;)</expression>
    </formulas>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>IF(!ISBLANK({!End_Date_Post_Expiration_Date}),{!End_Date_Post_Expiration_Date} ,  TODAY()+7)</expression>
    </formulas>
    <formulas>
        <name>FileID</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Response}, &quot;FileId:&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NeedURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/needs-offers/&quot;+ {!Create_Need}</expression>
    </formulas>
    <formulas>
        <name>PhotoURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BASEURL}, &quot;DRIVE_FILE_ID&quot;, {!FileID})</expression>
    </formulas>
    <formulas>
        <name>PostingForDefault</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Posting_For}), {!Posting_For}, &quot;Self&quot;)</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>IF(!ISBLANK({!Start_Date}), {!Start_Date}, NULL)</expression>
    </formulas>
    <interviewLabel>Post A Need {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post A Need</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Need</name>
        <label>Create Need</label>
        <locationX>778</locationX>
        <locationY>724</locationY>
        <connector>
            <targetReference>Upload_a_Photo</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Accept_Responses__c</field>
            <value>
                <elementReference>Auto_Accept_Responses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Share_Contact_Info__c</field>
            <value>
                <elementReference>Auto_Share_Contact_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>DetailPreview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date_Post_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time_Text__c</field>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Details__c</field>
            <value>
                <elementReference>DescriptionPlus.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Giver_Recipient_Details__c</field>
            <value>
                <elementReference>ReceipentTypeDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Giver_Recipient_Type__c</field>
            <value>
                <elementReference>Posting_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TitlePlus.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Neighbourhood__c</field>
            <value>
                <elementReference>UserContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>AnotherOrganizationsName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_Response_Limit__c</field>
            <value>
                <elementReference>Quantity_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posted_By__c</field>
            <value>
                <elementReference>Posting_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NeedRecordID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time_Text__c</field>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>Quantity_Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Household</name>
        <label>Household</label>
        <locationX>781</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_a_Need</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_a_Need</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>defaultcontactid</assignToReference>
            <field>npe01__One2OneContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HHCount</assignToReference>
            <field>npsp__Number_of_Household_Members__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>NeedRecordID</name>
        <label>NeedRecordID</label>
        <locationX>780</locationX>
        <locationY>597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Need</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Needs_Offers__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Need</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UserContact</name>
        <label>UserContact</label>
        <locationX>783</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Need</name>
        <label>New Need</label>
        <locationX>771</locationX>
        <locationY>1152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_Need</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Thanks}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Your new need &quot;&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 134, 61);&quot;&gt;{!TitlePlus.value}&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&quot; has been posted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_a_Need</name>
        <label>Post a Need</label>
        <locationX>783</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_PostByID</targetReference>
        </connector>
        <fields>
            <name>PosterInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Poster Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_a_Need_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_a_Need_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Posting_For</name>
                    <choiceReferences>Self</choiceReferences>
                    <choiceReferences>AnotherPerson</choiceReferences>
                    <choiceReferences>AnotherOrganization</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PostingForDefault</elementReference>
                    </defaultValue>
                    <fieldText>Posting A Need For</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OtherPersonContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Person&apos;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Needs_Offers__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherPerson</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AnotherOrganizationsName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Needs_Offers__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Organization__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Another Organization&apos;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherOrganization</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ReceipentTypeDetails</name>
                    <dataType>String</dataType>
                    <fieldText>Relationship to the person you are posting for.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Self</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_a_Need_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Posting_By</name>
                    <choiceReferences>HHMembers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultContact</elementReference>
                    </defaultValue>
                    <fieldText>Posting By:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PostDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Post Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TypePicklist</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TypePicklist</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TitlePlus</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Post Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TitlePlus.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DescriptionPlus</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>2000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>DescriptionPlus.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantity_Available</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>&lt;br&gt; Quantity Needed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Insert a quantity greater than 0.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Quantity_Available} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_a_Need_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_a_Need_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Start_Time</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Start_Time</elementReference>
                    </defaultValue>
                    <fieldText>Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please use a format of:  X:XX xm&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Start_Time}, &quot;(1[012]|[1-9]):[0-5][0-9](\\s)?(?i)(am|pm)&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Location</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_a_Need_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date_Post_Expiration_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>EndDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date / Post Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End_Time</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>End_Time</elementReference>
                    </defaultValue>
                    <fieldText>End Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please use a format of:  X:XX xm&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!End_Time}, &quot;(1[012]|[1-9]):[0-5][0-9](\\s)?(?i)(am|pm)&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PostSettings</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Post Settings&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you are comfortable, auto-accepting and auto-sharing your contact info with those who respond can make things quicker &amp;amp; easier for you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_a_Need_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_a_Need_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auto_Accept_Responses</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Auto_Accept_Responses</elementReference>
                    </defaultValue>
                    <fieldText>Auto-Accept Responses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_a_Need_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auto_Share_Contact_Info</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Auto_Share_Contact_Info</elementReference>
                    </defaultValue>
                    <fieldText>Auto-Share Contact Info</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Photo</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Photo&quot;,&quot;value&quot;:&quot;Photo&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Post Now&quot;,&quot;value&quot;:&quot;Post&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>657</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UserContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>UploadaPhoto</name>
        <label>Upload a Photo</label>
        <locationX>1006</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>New_Need</targetReference>
        </connector>
        <flowName>Upload_to_Google_Drive</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Need</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Thanks</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;/resource/Memes1/ohyeahdance.gif&quot; alt=&quot;Thanks.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BASEURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://drive.google.com/uc?id=DRIVE_FILE_ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>defaultcontactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HHCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PostByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
