FIMBY/force-app/main/default/flows/Post_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_Story_URL</name>
        <label>Go to Story URL</label>
        <locationX>889</locationX>
        <locationY>1290</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>StoryURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Reponse</name>
        <label>Post Reponse</label>
        <locationX>888</locationX>
        <locationY>943</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Story</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>communityId</name>
            <value>
                <stringValue>0DB5f000000PC0N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterReply</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>889</locationX>
        <locationY>1167</locationY>
        <actionName>Story__c.Send_Comment_Posted_Alert_to_Story_Poster</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Go_to_Story_URL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Story.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Story__c.Send_Comment_Posted_Alert_to_Story_Poster</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Posting_User_ID</name>
        <label>Set IDs to Posting Owner</label>
        <locationX>888</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>UserIDForAtMention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Story.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactIDforEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Story.Posted_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Replying_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WhoID</name>
        <label>WhoID</label>
        <locationX>888</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>WhoReplyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Whos_Commenting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Posting_User_ID</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>HouseholdMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Attention</name>
        <dataType>String</dataType>
        <expression>&quot;From: &quot; + {!Replying_Contact.FirstName} + &quot; &quot; + {!Replying_Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>ReplyMessage</name>
        <dataType>String</dataType>
        <expression>&quot;@[&quot; + {!User.Id} + &quot;]&quot;+
BR()
+ &quot; &quot;+ {!Comment}</expression>
    </formulas>
    <formulas>
        <name>StoryURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/story/&quot; + {!recordId}</expression>
    </formulas>
    <formulas>
        <name>WhosReplyingFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!WhoReplyID},15)</expression>
    </formulas>
    <interviewLabel>Post Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Replying_Contact</name>
        <label>Replying Contact</label>
        <locationX>889</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Whos_Commenting</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Story</name>
        <label>Story</label>
        <locationX>884</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reply</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>887</locationX>
        <locationY>817</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Reponse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIDForAtMention</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Story</name>
        <label>Update Story</label>
        <locationX>889</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Send_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Comment_Contact__c</field>
            <value>
                <elementReference>WhoReplyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <object>Story__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Reply</name>
        <label>Reply</label>
        <locationX>883</locationX>
        <locationY>307</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhoID</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Story.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Image</name>
            <fieldText>&lt;p&gt;{!Story.Image__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!Story.Message__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;~ ~ ~&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Whos_Commenting</name>
            <choiceReferences>HouseholdMembers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who&apos;s Commenting?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comment</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Post</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>758</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterReply</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!UserIDForAtMention}]    {!Attention}
{!Comment}</text>
    </textTemplates>
    <variables>
        <name>ContactIDforEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDForAtMention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoReplyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
