FIMBY/force-app/main/default/flows/Post_Library_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_Item</name>
        <label>Go to Item</label>
        <locationX>776</locationX>
        <locationY>1474</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>OfferItemURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Posted_By</name>
        <label>Set Posted By</label>
        <locationX>777</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>PostByID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Posting_By</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Posted_By</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AnotherOrganization</name>
        <choiceText>Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organization</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnotherPerson</name>
        <choiceText>Another Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>Personal Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>SpecificChoice</name>
        <choiceText>FIMBY Lending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Specific</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Upload_a_Photo</name>
        <label>Upload a Photo</label>
        <locationX>766</locationX>
        <locationY>1149</locationY>
        <defaultConnector>
            <targetReference>New_Library_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Photo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Library_Item_Photo</targetReference>
            </connector>
            <label>Yes - Photo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Library_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HouseholdMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Image_1_Dimensions__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceipientType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Giver_Recipient_Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DefaultContact</name>
        <dataType>String</dataType>
        <expression>IF({!HHCount}=1, {!DefaultContactID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FileID</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Response}, &quot;FileId:&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Length</name>
        <dataType>String</dataType>
        <expression>TEXT(LEN({!PostDescription})-255)</expression>
    </formulas>
    <formulas>
        <name>OfferItemURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/library-item/&quot;+ {!Create_Library_Item}</expression>
    </formulas>
    <formulas>
        <name>PhotoURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BASEURL}, &quot;DRIVE_FILE_ID&quot;, {!FileID})</expression>
    </formulas>
    <formulas>
        <name>PostingForDefault</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Owner}), {!Owner}, &quot;Self&quot;)</expression>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>{!FIMBYRT.Id}</expression>
    </formulas>
    <formulas>
        <name>TitleLength</name>
        <dataType>String</dataType>
        <expression>TEXT(LEN({!Title})-80)</expression>
    </formulas>
    <interviewLabel>Post Library Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Library Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Library_Item</name>
        <label>Create Library Item</label>
        <locationX>774</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Upload_a_Photo</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Accept_Requests__c</field>
            <value>
                <elementReference>Auto_Accept_Responses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Share_Contact_Info__c</field>
            <value>
                <elementReference>Auto_Share_Contact_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>CategoryPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Damage_Waiver_Confirmed__c</field>
            <value>
                <elementReference>I_understand_the_risk_and_will_take_responsibility_for_any_issues_that_arise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>PostDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_Lending_Time_In_Days__c</field>
            <value>
                <elementReference>Lending_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Neighbourhood__c</field>
            <value>
                <elementReference>Posted_By.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owned_By__c</field>
            <value>
                <elementReference>Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Contact__c</field>
            <value>
                <elementReference>PostByID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Organization__c</field>
            <value>
                <elementReference>OrganizationsName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Library_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FIMBYRT</name>
        <label>FIMBY RT</label>
        <locationX>776</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PersonalRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Library_Item__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIMBY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Household</name>
        <label>Household</label>
        <locationX>777</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Lending_Library_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>DefaultContactID</assignToReference>
            <field>npe01__One2OneContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HHCount</assignToReference>
            <field>npsp__Number_of_Household_Members__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PersonalRT</name>
        <label>Personal</label>
        <locationX>882</locationX>
        <locationY>896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Library_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Library_Item__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Posted_By</name>
        <label>Posted By</label>
        <locationX>776</locationX>
        <locationY>777</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FIMBYRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PostByID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Library_Item</name>
        <label>New Library Item</label>
        <locationX>775</locationX>
        <locationY>1315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_Item</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Thanks}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Thanks for being generous!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Your new library item &quot;&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 115, 3);&quot;&gt;{!Title}&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&quot; is available to lend out.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_Lending_Library_Item</name>
        <label>Post Lending Library Item</label>
        <locationX>777</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Posted_By</targetReference>
        </connector>
        <fields>
            <name>Poster</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Poster Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Lending_Library_Item_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_Lending_Library_Item_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner</name>
                    <choiceReferences>Self</choiceReferences>
                    <choiceReferences>AnotherOrganization</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Self</defaultSelectedChoiceReference>
                    <fieldText>Owner</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OrganizationsName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Library_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Owner_Organization__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Organization&apos;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>OrganizationsName.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherOrganization</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ReceipentTypeDetails</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ReceipentTypeDetails</elementReference>
                    </defaultValue>
                    <fieldText>Relationship to the organization you are posting for.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Owner</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Self</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_Lending_Library_Item_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Posting_By</name>
                    <choiceReferences>HouseholdMembers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultContact</elementReference>
                    </defaultValue>
                    <fieldText>Posting By:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PostDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Lending Library Item Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Title</elementReference>
            </defaultValue>
            <fieldText>Item to Lend Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;The title must be 80 characters or less. &lt;strong&gt;Please reduce the title&apos;s length by {!TitleLength} characters.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Title}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PostDescription</name>
            <defaultValue>
                <stringValue>{!PostDescription}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;The description must be 255 characters or less. &lt;strong&gt; Please reduce the description&apos;s length by {!Length} characters. &lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!PostDescription}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Post_Lending_Library_Item_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_Lending_Library_Item_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CategoryPicklist</name>
                    <choiceReferences>Category</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_Lending_Library_Item_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lending_Time</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>7.0</numberValue>
                    </defaultValue>
                    <fieldText>Maximum Lending Time  (In Days)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Item_Settings</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Item Settings&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If you are comfortable, auto-accepting and auto-sharing your contact info with those who respond can make things quicker &amp;amp; easier for you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Lending_Library_Item_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Post_Lending_Library_Item_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auto_Accept_Responses</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Auto_Accept_Responses</elementReference>
                    </defaultValue>
                    <fieldText>Auto-Accept Requests</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Post_Lending_Library_Item_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auto_Share_Contact_Info</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Auto_Share_Contact_Info</elementReference>
                    </defaultValue>
                    <fieldText>Auto-Share Contact Info</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RiskAcknowledgement</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Risk Acknowledgement&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;By offering to lend out your item there is the potential that it could be damaged in the process.  Additionally, any issues that arise as a result of lending out this item will need to be resolved directly between the lender (you) and lendee.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>I_understand_the_risk_and_will_take_responsibility_for_any_issues_that_arise</name>
            <dataType>Boolean</dataType>
            <fieldText>I understand the risk and will take responsibility for any issues that arise.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Photo</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Photo&quot;,&quot;value&quot;:&quot;Photo&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Post Now&quot;,&quot;value&quot;:&quot;Post&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>652</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>Household</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upload_Library_Item_Photo</name>
        <label>Upload Library Item Photo</label>
        <locationX>997</locationX>
        <locationY>1143</locationY>
        <connector>
            <targetReference>New_Library_Item</targetReference>
        </connector>
        <flowName>Upload_Library_Item_Photo</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Library_Item</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Thanks</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;/resource/Memes1/TomHanks.gif&quot; alt=&quot;THanks.gif&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BASEURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://drive.google.com/uc?id=DRIVE_FILE_ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>DefaultContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HHCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PostByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
