FIMBY/force-app/main/default/flows/Resize_Photos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Resized_Photo</name>
        <label>Get Resized Photo</label>
        <locationX>670</locationX>
        <locationY>883</locationY>
        <actionName>FetchAndReplaceImageFromGDrive</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_RRID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FileName</name>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>googleDriveURL</name>
            <value>
                <elementReference>$Record.Google_Drive_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhotoNumber</name>
            <value>
                <elementReference>PhotoNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedRecordID</name>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FetchAndReplaceImageFromGDrive</nameSegment>
        <outputParameters>
            <assignToReference>PhotoURL</assignToReference>
            <name>salesforceFileURL</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_RRID</name>
        <label>Set RRID</label>
        <locationX>673</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>668</locationX>
        <locationY>1717</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentdocument.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Original</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Photo_Number</name>
        <label>Has Photo Number?</label>
        <locationX>665</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>URL_to_Replace_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Photo_Number</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>664</locationX>
        <locationY>1158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>URL_to_Replace</targetReference>
            </connector>
            <label>Need/Offer</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Photo</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Story</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Story_Photo</targetReference>
            </connector>
            <label>Story</label>
        </rules>
        <rules>
            <name>Library_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1J</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Library_Item_Photo</targetReference>
            </connector>
            <label>Library Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>URL_to_Replace</name>
        <label>URL to Replace</label>
        <locationX>416</locationX>
        <locationY>1170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Need_Offer_Photo_1_URL</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Need_Offer_Photo_2_URL</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Need_Offer_Photo_3_URL</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Need_Offer_Photo_4_URL</targetReference>
            </connector>
            <label>4</label>
        </rules>
    </decisions>
    <decisions>
        <name>URL_to_Replace_0</name>
        <label>URL to Replace</label>
        <locationX>665</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Wait_1_Minute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_1_Minute</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_3_Minutes</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_5_Minutes</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhotoNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_7_Minutes</targetReference>
            </connector>
            <label>4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Object</name>
        <label>Valid Object</label>
        <locationX>665</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>Set_Resized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesValid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstPublishLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstPublishLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0y</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstPublishLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstPublishLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1J</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Photo_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PhotoNumber</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!$Record.PhotoNumber__c}), {!$Record.PhotoNumber__c}, &quot;1&quot;)</expression>
    </formulas>
    <interviewLabel>Resize Photos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resize Photos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Original</name>
        <label>Delete Original</label>
        <locationX>677</locationX>
        <locationY>1892</locationY>
        <inputReference>contentdocument</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>contentdocument</name>
        <label>contentdocument</label>
        <locationX>675</locationX>
        <locationY>1581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Photo_Number</name>
        <label>Set Photo Number</label>
        <locationX>862</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>URL_to_Replace_0</targetReference>
        </connector>
        <inputAssignments>
            <field>PhotoNumber__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Resized</name>
        <label>Set Resized</label>
        <locationX>402</locationX>
        <locationY>310</locationY>
        <inputAssignments>
            <field>Resized__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Photo</name>
        <label>Update Contact Photo</label>
        <locationX>739</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>contentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Library_Item_Photo</name>
        <label>Update Library Item Photo</label>
        <locationX>1150</locationX>
        <locationY>1328</locationY>
        <connector>
            <targetReference>contentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Library_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Need_Offer_Photo_1_URL</name>
        <label>Update Need Offer Photo 1 URL</label>
        <locationX>232</locationX>
        <locationY>1333</locationY>
        <connector>
            <targetReference>contentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Need_Offer_Photo_2_URL</name>
        <label>Update Need Offer Photo 2 URL</label>
        <locationX>362</locationX>
        <locationY>1335</locationY>
        <connector>
            <targetReference>contentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_2_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Need_Offer_Photo_3_URL</name>
        <label>Update Need Offer Photo 3 URL</label>
        <locationX>505</locationX>
        <locationY>1338</locationY>
        <connector>
            <targetReference>contentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_3_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Need_Offer_Photo_4_URL</name>
        <label>Update Need Offer Photo 4 URL</label>
        <locationX>618</locationX>
        <locationY>1341</locationY>
        <connector>
            <targetReference>contentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_4_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Story_Photo</name>
        <label>Update Story Photo</label>
        <locationX>868</locationX>
        <locationY>1343</locationY>
        <connector>
            <targetReference>contentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstPublishLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Story__c</object>
    </recordUpdates>
    <start>
        <locationX>547</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Valid_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Google_Drive_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_Yesterday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContentSize</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>500000.0</numberValue>
            </value>
        </filters>
        <object>ContentVersion</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-23</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Failed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PhotoURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_1_Minute</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 1 Minute</label>
        <locationX>348</locationX>
        <locationY>746</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Resized_Photo</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_3_Minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 3 Minutes</label>
        <locationX>582</locationX>
        <locationY>739</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Resized_Photo</targetReference>
            </connector>
            <label>el_1</label>
            <offset>3</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_5_Minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 5 Minutes</label>
        <locationX>764</locationX>
        <locationY>740</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Resized_Photo</targetReference>
            </connector>
            <label>el_2</label>
            <offset>5</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_7_Minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 7 Minutes</label>
        <locationX>1023</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Resized_Photo</targetReference>
            </connector>
            <label>el_3</label>
            <offset>7</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
