FIMBY/force-app/main/default/flows/Response_Reply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_Response_URL</name>
        <label>Go to Response URL</label>
        <locationX>1451</locationX>
        <locationY>480</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>ResponseURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Response_URL_0</name>
        <label>Go to Response URL</label>
        <locationX>888</locationX>
        <locationY>1558</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>ResponseURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Reponse</name>
        <label>Post Reponse</label>
        <locationX>888</locationX>
        <locationY>943</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Whos_Replying_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>communityId</name>
            <value>
                <stringValue>0DB5f000000PC0N</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterReply</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Reply_Alert</name>
        <label>Send Reply Alert</label>
        <locationX>890</locationX>
        <locationY>1252</locationY>
        <actionName>Response__c.Reply_Response_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Share_Contact_Info_Yes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Response.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Response__c.Reply_Response_Alert</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_IDs_To_Response_Owner</name>
        <label>Set IDs To Response Owner</label>
        <locationX>762</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>UserIDForAtMention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactIDforEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Posting_User_ID</name>
        <label>Set IDs to Posting Owner</label>
        <locationX>1125</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>UserIDForAtMention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Need_Offer.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactIDforEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Need_Offer.Posted_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Replying_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WhoID</name>
        <label>WhoID</label>
        <locationX>961</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>WhoReplyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_s_Replying_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reply_From_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accepted</name>
        <choiceText>Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultStatus</name>
        <choiceText>{!Response.Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Response.Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Reply_From</name>
        <label>Reply From</label>
        <locationX>633</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Who_s_Replying</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Posting_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedOfferOwnerReply</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Offer_Posted_By_Contact</targetReference>
            </connector>
            <label>Posting Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reply_From_0</name>
        <label>Reply From</label>
        <locationX>1117</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Not_Authorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Replying_Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhosReplyingFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RespondingContact15Digits</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Posting_User_ID</targetReference>
            </connector>
            <label>Replying Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Share_Contact_Info_Yes</name>
        <label>Share Contact Info</label>
        <locationX>881</locationX>
        <locationY>1371</locationY>
        <defaultConnector>
            <targetReference>Go_to_Response_URL_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Share</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Share_Contact_Info_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Contact_Info</targetReference>
            </connector>
            <label>Yes - Share</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whos_Replying_Contact</name>
        <label>Who&apos;s Replying</label>
        <locationX>880</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Update_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Responding Contact</defaultConnectorLabel>
        <rules>
            <name>Need_Offer_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedOfferOwnerReply</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Response</targetReference>
            </connector>
            <label>Need / Offer Owner</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HouseholdMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Attention</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!$User.Id},15) = LEFT({!Response.Need_Offer_Responded_To__r.OwnerId},15), &quot;Attn: &quot; + {!Response.Contact__r.FirstName}+&quot; &quot;+{!Response.Contact__r.LastName}, 
IF(LEFT({!$User.Id},15) = LEFT({!Response.OwnerId},15), &quot;Attn: &quot; + {!Response.Reply_To_Contact__r.FirstName}+&quot; &quot;+{!Response.Reply_To_Contact__r.LastName}, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>NeedOfferOwnerReply</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$User.Id},15)=LEFT({!Need_Offer.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>PostingContact15Digits</name>
        <dataType>String</dataType>
        <expression>Left({!Response.Reply_To_Contact__c},15)</expression>
    </formulas>
    <formulas>
        <name>RecordLink</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot; + {!Response.Need_Offer_Responded_To__c}</expression>
    </formulas>
    <formulas>
        <name>ReplyingTo</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!Need_Offer_Posted_By_Contact.Id},15) = {!PostingContact15Digits}, {!Response.On_Behalf_Of_Contact__r.FirstName}+&quot; &quot;+{!Response.On_Behalf_Of_Contact__r.LastName}, 
IF({!WhosReplyingFormula} = {!RespondingContact15Digits}, SUBSTITUTE({!Response.Posting_Contact__c}, &quot; (Partner)&quot;, &quot;&quot;), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>RespondingContact15Digits</name>
        <dataType>String</dataType>
        <expression>Left({!Response.Contact__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>ResponseURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/response/&quot; + {!recordId}</expression>
    </formulas>
    <formulas>
        <name>WhosReplyingFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!WhoReplyID},15)</expression>
    </formulas>
    <interviewLabel>Response Reply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Response Reply</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Need_Offer</name>
        <label>Need/Offer</label>
        <locationX>640</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reply_From</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Response.Need_Offer_Responded_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Need_Offer_Posted_By_Contact</name>
        <label>Need/Offer Posted By Contact</label>
        <locationX>642</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_IDs_To_Response_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Need_Offer.Posted_By__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Replying_Contact</name>
        <label>Replying Contact</label>
        <locationX>1007</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Who_s_Replying_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response</name>
        <label>Response</label>
        <locationX>641</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_Offer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>889</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reply</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIDForAtMention</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_Response</name>
        <label>Update Owner Response</label>
        <locationX>656</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Send_Reply_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Response.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Reply_Contact_Lookup__c</field>
            <value>
                <elementReference>ContactIDforEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Reply_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Reply__c</field>
            <value>
                <elementReference>MessageLong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Update_Responses_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Response</name>
        <label>Update Response</label>
        <locationX>1123</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Send_Reply_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Response.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Reply_Contact_Lookup__c</field>
            <value>
                <elementReference>ContactIDforEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Reply_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Reply__c</field>
            <value>
                <elementReference>MessageLong</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Not_Authorized</name>
        <label>Not Authorized</label>
        <locationX>1304</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_Response_URL</targetReference>
        </connector>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;You are not able to reply as this is not your response or post.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Navigate to the &lt;/span&gt;&lt;a href=&quot;{!RecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Offer or Need&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; and create your own response.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reply</name>
        <label>Reply</label>
        <locationX>889</locationX>
        <locationY>811</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Post_Reponse</targetReference>
        </connector>
        <fields>
            <name>ReplyToContact</name>
            <fieldText>&lt;p&gt;Reply to {!ReplyingTo}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Message</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MessageLong</name>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Messages have a max length of 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!MessageLong}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Update_Responses_Status</name>
            <choiceReferences>DefaultStatus</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Accepted</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>Declined</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultStatus</defaultSelectedChoiceReference>
            <fieldText>Update Responses Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NeedOfferOwnerReply</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Share_Contact_Info_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Share Contact Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Post</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Who_s_Replying</name>
        <label>Who&apos;s Replying</label>
        <locationX>822</locationX>
        <locationY>489</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhoID</targetReference>
        </connector>
        <fields>
            <name>Who_s_Replying_Contact</name>
            <choiceReferences>HouseholdMembers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who&apos;s Replying?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>515</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Share_Contact_Info</name>
        <label>Share Contact Info</label>
        <locationX>1066</locationX>
        <locationY>1369</locationY>
        <flowName>Share_Contact_Info</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ChatterReply</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!UserIDForAtMention}]  
{!Attention}
{!Message} 
{!MessageLong}</text>
    </textTemplates>
    <variables>
        <name>ContactIDforEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDForAtMention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoReplyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
