FIMBY/force-app/main/default/flows/Set_Posted_By.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Posted_By_Contact_Assigned</name>
        <label>Posted By Contact Assigned</label>
        <locationX>688</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>$Record.Posted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Neighbourhood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Posting_for_Self_or_Household_and_No_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Posted_By_Contact_Assigned_0</name>
        <label>Posted By Contact Assigned</label>
        <locationX>683</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Posting_for_Self_or_Household_and_No_Contact</name>
        <label>Posting for Self or Household and No Contact</label>
        <locationX>678</locationX>
        <locationY>862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Giver_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Giver_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Posted_By_Contact_Assigned_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found</label>
        <locationX>682</locationX>
        <locationY>447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Posted By {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Posted By</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>691</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Posted_By_Contact_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>688</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Posted_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Flagged_Poster__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Needs_Offers__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
