FIMBY/force-app/main/default/flows/Set_Reply_To_Contact_on_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>690</locationX>
        <locationY>910</locationY>
        <actionName>Response__c.Response_Received</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Add_Recipient</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Response__c.Response_Received</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Recipient</name>
        <label>Add Recipient</label>
        <locationX>689</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Need_Offer.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Shared_Contact_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reply_To_Contact_on_Response</name>
        <label>Set Reply To Contact on Response</label>
        <locationX>692</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reply_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Need_Offer.Posted_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Info_Found</name>
        <label>Contact Info Found?</label>
        <locationX>681</locationX>
        <locationY>1473</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Contact_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shared_Contact_Info.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Response_Contact_Info</targetReference>
            </connector>
            <label>Yes - Found Contact Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Posted_By_Found</name>
        <label>Posted By Found</label>
        <locationX>681</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reply_To_Contact_on_Response</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <interviewLabel>Set Reply To Contact on Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Reply To Contact on Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Response_Contact_Info</name>
        <label>Create Response Contact Info</label>
        <locationX>688</locationX>
        <locationY>1644</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Shared_Contact_Info.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Contact_Info__c</field>
            <value>
                <elementReference>Get_Shared_Contact_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Response_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Shared_Contact_Info</name>
        <label>Get Shared Contact Info</label>
        <locationX>691</locationX>
        <locationY>1326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Info_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Need_Offer.Posted_By__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Need_Offer</name>
        <label>Need / Offer</label>
        <locationX>689</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Posted_By_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Need_Offer_Responded_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Posted_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Posted_By__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Response</name>
        <label>Update Response</label>
        <locationX>693</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Send_Email_Alert</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>563</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Need_Offer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reply_To_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
