FIMBY/force-app/main/default/flows/Share_Contact_Info_Auto1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailRecipient_0</name>
        <label>EmailRecipient</label>
        <locationX>288</locationX>
        <locationY>1108</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D25f0000008Qy3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>fimby@strathconavinyeard.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>UserContactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Recipient_0</name>
        <label>Set Recipient as Poster</label>
        <locationX>287</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>RecipientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.Reply_To_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shared_Contact_Info</name>
        <label>Update Shared Contact Info</label>
        <locationX>353</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipient.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipient.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipient.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipient.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Province_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipient.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipient.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipient.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Share_Contact_Info</name>
        <label>Auto-Share Contact Info</label>
        <locationX>584</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Share</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Auto_Share_Contact_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact</targetReference>
            </connector>
            <label>Yes - Share</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found Shared Contact Info?</label>
        <locationX>287</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Is_Shared_Contact_Info_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shared_Contact_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shared_Contact_Info_Changed</name>
        <label>Is Shared Contact Info Changed?</label>
        <locationX>485</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Find_Response_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Receipient.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Receipient.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Street__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Receipient.MailingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Receipient.MailingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Province_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Receipient.MailingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Postal_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Receipient.MailingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shared_Contact_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Contact_Info_Found</name>
        <label>Response Contact Info Found</label>
        <locationX>485</locationX>
        <locationY>2159</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Response_COntact_Info_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Response_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Response_Contact_Info1</targetReference>
            </connector>
            <label>No Response COntact Info Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddressText</name>
        <dataType>String</dataType>
        <expression>{!Receipient.MailingStreet} + &quot;, &quot; + {!Receipient.MailingCity} + &quot; &quot; +{!Receipient.MailingState} + &quot; &quot; + {!Receipient.MailingPostalCode}</expression>
    </formulas>
    <formulas>
        <name>ContactInfoForEmail</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK({!Receipient.Email}), &quot;Email: &quot; + {!Receipient.Email} + BR(), &quot;&quot;)+
IF( !ISBLANK({!Receipient.Phone}), &quot;Phone: &quot; + {!Receipient.Phone} + BR(), &quot;&quot;)+
IF( !ISBLANK({!AddressText}), &quot;Address: &quot; + {!AddressText}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NeedOfferLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.force.com/s/needs-offers/&quot; + {!Need_Offer.Id}</expression>
    </formulas>
    <formulas>
        <name>PostBy</name>
        <dataType>String</dataType>
        <expression>LEFT({!Need_Offer.Posted_By__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>PostLink</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot; + {!Response.Need_Offer_Responded_To__c}</expression>
    </formulas>
    <formulas>
        <name>ReplyEmail</name>
        <dataType>String</dataType>
        <expression>&quot;fimby@strathconavineyard.com&quot;</expression>
    </formulas>
    <formulas>
        <name>RespondeeContact</name>
        <dataType>String</dataType>
        <expression>LEFT({!Response.Contact__c},15)</expression>
    </formulas>
    <formulas>
        <name>ResponseURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.force.com/s/response/&quot; + {!Response.Id}</expression>
    </formulas>
    <formulas>
        <name>SharedContactInfoName</name>
        <dataType>String</dataType>
        <expression>{!Contact.FirstName} + &quot; &quot; + {!Contact.LastName} + &quot; - &quot; + TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;The FIMBY User, &quot; + {!Receipient.FirstName}+&quot; &quot;+ {!Receipient.LastName}+&quot;, has shared their contact info&quot;</expression>
    </formulas>
    <formulas>
        <name>UserContactID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Contact.Id}, 18)</expression>
    </formulas>
    <interviewLabel>Share Contact Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Contact Info - Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Response_Contact_Info</name>
        <label>Create Response Contact Info</label>
        <locationX>91</locationX>
        <locationY>1702</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Response.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Response.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Contact_Info__c</field>
            <value>
                <elementReference>Create_Shared_Contact_Info</elementReference>
            </value>
        </inputAssignments>
        <object>Response_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Response_Contact_Info1</name>
        <label>Create Response Contact Info</label>
        <locationX>353</locationX>
        <locationY>2279</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Contact_Info__c</field>
            <value>
                <elementReference>Shared_Contact_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Response_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shared_Contact_Info</name>
        <label>Create Shared Contact Info</label>
        <locationX>89</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Create_Response_Contact_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>AddressText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Receipient.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Receipient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Receipient.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Receipient.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Response.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Receipient.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Receipient.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_State__c</field>
            <value>
                <elementReference>Receipient.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_To__c</field>
            <value>
                <elementReference>Response.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Receipient.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>287</locationX>
        <locationY>613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Recipient_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Response.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Response_Contact</name>
        <label>Find Response Contact</label>
        <locationX>485</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Response_Contact_Info_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shared_Contact_Info__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shared_Contact_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Need_Offer</name>
        <label>Need / Offer</label>
        <locationX>584</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_Share_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Response.Need_Offer_Responded_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Receipient</name>
        <label>Receipient</label>
        <locationX>287</locationX>
        <locationY>983</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailRecipient_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response</name>
        <label>Response</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_Offer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Shared_Contact_Info</name>
        <label>Shared Contact Info</label>
        <locationX>287</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>287</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shared_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Receipient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Info</name>
        <label>Update Contact Info</label>
        <locationX>353</locationX>
        <locationY>1823</locationY>
        <connector>
            <targetReference>Find_Response_Contact</targetReference>
        </connector>
        <inputReference>Shared_Contact_Info</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <object>Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fimby--c.documentforce.com/servlet/servlet.ImageServer?id=0155f000000mvNX&amp;amp;oid=00D5f000006NDkr&quot;&gt;&lt;/p&gt;&lt;p&gt;Hey {!Contact.FirstName},&lt;/p&gt;&lt;p&gt;The FIMBY User, {!Receipient.FirstName} {!Receipient.LastName}, has shared their contact info in relation to &lt;a href=&quot;{!ResponseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;the response&lt;/a&gt;, to &lt;a href=&quot;{!NeedOfferLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this post&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;{!ContactInfoForEmail}&lt;/p&gt;&lt;p&gt;Please reach out to {!Receipient.FirstName} using the contact info above to coordinate the details.&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;The Fimby Team&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://fimby--c.documentforce.com/servlet/servlet.ImageServer?id=0155f000000mvNc&amp;amp;oid=00D5f000006NDkr&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecipientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
