FIMBY/force-app/main/default/flows/Shared_Contact_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_Contact</name>
        <label>Go to Contact</label>
        <locationX>1150</locationX>
        <locationY>653</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>ContactURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Other</name>
        <label>Other</label>
        <locationX>888</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>OtherContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1291</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetContact.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetContact.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetContact.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetContact.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetContact.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneContact.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailContact.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.Summary_Email_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary_Email_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.Year_you_connected_to_the_neighbourhood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year_you_connected_to_the_neighbourhood</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.Your_favorite_local_place_to_visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Your_favorite_local_place_to_visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.What_should_neighbors_know_about_you__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_s_one_thing_neighbors_should_know_about_you</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.Connection_to_the_neighbourhood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Your_connection_to_the_neighbourhood</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.One_community_issue_you_d_like_fixed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_community_issue_you_d_like_fixed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Id.Why_do_you_want_to_join_FIMBY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_do_you_want_to_be_a_part_of_FIMBY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Shared_Contact_Details_Found</name>
        <label>Shared Contact Details Found</label>
        <locationX>768</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Nothing_to_Show</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shared_Contact_Details.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shared_Contact_Info</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Your_Contact</name>
        <label>Your Contact?</label>
        <locationX>766</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Shared_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Mine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Id_Owner.Household_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.HouseholdID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Id</targetReference>
            </connector>
            <label>Yes - Mine</label>
        </rules>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Portal_Creator.Household_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.HouseholdID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Id_Owner.Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other</targetReference>
            </connector>
            <label>Yes - Other</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Frequencies</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Summary_Email_Frequency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ConnectionLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Your_connection_to_the_neighbourhood})-255</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ContactID</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},15)</expression>
    </formulas>
    <formulas>
        <name>ContactURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/s/contact/&quot; + {!recordId}</expression>
    </formulas>
    <formulas>
        <name>FavouriteLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Your_favorite_local_place_to_visit})-255</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FIMBYLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Why_do_you_want_to_be_a_part_of_FIMBY})-255</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FixLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!One_community_issue_you_d_like_fixed})-255</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>KnowSomethingLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!What_s_one_thing_neighbors_should_know_about_you})-255</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Contact_Id_Owner.OwnerId}, 15)</expression>
    </formulas>
    <interviewLabel>Shared Contact Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Shared Contact Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_Id_Owner</name>
        <label>Contact Id Owner</label>
        <locationX>772</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Portal_Creator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>999</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Portal_Creator</name>
        <label>Portal Creator</label>
        <locationX>772</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Your_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id_Owner.Created_By_Portal_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Shared_Contact_Details</name>
        <label>Shared Contact Details</label>
        <locationX>776</locationX>
        <locationY>681</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shared_Contact_Details_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>1291</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Go_to_Contact</targetReference>
        </connector>
        <inputReference>Get_Contact_Id</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Nothing_to_Show</name>
        <label>Nothing to Show</label>
        <locationX>1018</locationX>
        <locationY>997</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Shared_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>NoRecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;No contact details have been shared with you yet.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Shared_Contact_Info</name>
        <label>Shared Contact Info</label>
        <locationX>454</locationX>
        <locationY>994</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Shared_Contact_Details</targetReference>
        </connector>
        <fields>
            <name>SharedContacInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Shared Contact Info&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shared_Contact_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shared_Contact_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Shared_Contact_Details.Email__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shared_Contact_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Phone:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Shared_Contact_Details.Phone__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shared_Contact_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address:  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Shared_Contact_Details.AddressGoogleMap__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shared_Contact_Info_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AdditionalInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Additional Info:  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Shared_Contact_Details.Additional_Info__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Contact_Info</name>
        <label>Update Contact Info</label>
        <locationX>1146</locationX>
        <locationY>510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>Update</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Update Your Contact Info&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Edit the fields below and click &apos;&lt;strong&gt;Next&lt;/strong&gt;&apos; to update your personal information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OtherContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>YourContact</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Update Your Contact&apos;s Info&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Edit the fields below and click &apos;&lt;strong&gt;Next&lt;/strong&gt;&apos; to update your personal information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OtherContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Summary_Email_Frequency</name>
            <choiceReferences>Frequencies</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Id.Summary_Email_Frequency__c</elementReference>
            </defaultValue>
            <fieldText>Summary Email Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact_Id.Active_User__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StreetContact</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Contact_Id.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>Canada</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <stringValue>BC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Contact_Id.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Contact_Id.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Contact_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Contact_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailContact</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact_Id.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Contact_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhoneContact</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Contact_Id.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CommunityInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Community Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Contact_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Contact_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year_you_connected_to_the_neighbourhood</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_Id.Year_you_connected_to_the_neighbourhood__c</elementReference>
                    </defaultValue>
                    <fieldText>Year you connected to the neighbourhood?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please input a 4 digit year: YYYY.&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!Year_you_connected_to_the_neighbourhood})
||
LEN({!Year_you_connected_to_the_neighbourhood})=4
&amp;&amp;
ISNUMBER({!Year_you_connected_to_the_neighbourhood})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Contact_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Your_connection_to_the_neighbourhood</name>
                    <defaultValue>
                        <stringValue>{!Get_Contact_Id.Connection_to_the_neighbourhood__c}</stringValue>
                    </defaultValue>
                    <fieldText>Your connection to the neighbourhood?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please reduce your response by  {!ConnectionLength} characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!Your_connection_to_the_neighbourhood})
||
LEN({!Your_connection_to_the_neighbourhood}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Contact_Info_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Contact_Info_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Your_favorite_local_place_to_visit</name>
                    <defaultValue>
                        <stringValue>{!Get_Contact_Id.Your_favorite_local_place_to_visit__c}</stringValue>
                    </defaultValue>
                    <fieldText>Your favorite local place to visit?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please reduce your response by  {!FavouriteLength} characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!Your_favorite_local_place_to_visit})
||
LEN({!Your_favorite_local_place_to_visit}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Contact_Info_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>One_community_issue_you_d_like_fixed</name>
                    <defaultValue>
                        <stringValue>{!Get_Contact_Id.One_community_issue_you_d_like_fixed__c}</stringValue>
                    </defaultValue>
                    <fieldText>One community issue you&apos;d like fixed?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please reduce your response by  {!FixLength} characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!One_community_issue_you_d_like_fixed})
||
LEN({!One_community_issue_you_d_like_fixed}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Contact_Info_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Contact_Info_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_s_one_thing_neighbors_should_know_about_you</name>
                    <defaultValue>
                        <stringValue>{!Get_Contact_Id.What_should_neighbors_know_about_you__c}</stringValue>
                    </defaultValue>
                    <fieldText>What&apos;s one thing neighbors should know about you?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please reduce your response by {!KnowSomethingLength} characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!What_s_one_thing_neighbors_should_know_about_you})
||
LEN({!What_s_one_thing_neighbors_should_know_about_you}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Contact_Info_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Why_do_you_want_to_be_a_part_of_FIMBY</name>
                    <defaultValue>
                        <stringValue>{!Get_Contact_Id.Why_do_you_want_to_join_FIMBY__c}</stringValue>
                    </defaultValue>
                    <fieldText>Why do you want to be a part of FIMBY?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please reduce your response by&amp;nbsp;{!FIMBYLength} characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!Why_do_you_want_to_be_a_part_of_FIMBY})
||
LEN({!Why_do_you_want_to_be_a_part_of_FIMBY}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>646</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>Contact_Id_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OtherContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
