FIMBY/force-app/main/default/flows/Share_My_Contact_Info_Pre_Defined.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Contact_Email</name>
        <label>Send Contact Email</label>
        <locationX>768</locationX>
        <locationY>1520</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>ReplyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>Sending_Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Shared_Contact_Info</name>
        <label>Update Shared Contact Info</label>
        <locationX>945</locationX>
        <locationY>2009</locationY>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Additional_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Notes_Buzz_Unit_Access_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailShare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneShare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Province_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found Shared Contact Info?</label>
        <locationX>760</locationX>
        <locationY>1855</locationY>
        <defaultConnector>
            <targetReference>Is_Shared_Contact_Info_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shared_Contact_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shared_Contact_Info_Changed</name>
        <label>Is Shared Contact Info Changed?</label>
        <locationX>759</locationX>
        <locationY>2012</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Street__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AddressBlock.street</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Additional_Info__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Address_Notes_Buzz_Unit_Access_Info</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmailShare</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PhoneShare</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shared_Contact_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactInfoForEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Email}=TRUE, &quot;Email: &quot; + {!EmailShare} + BR(), &quot;&quot;)+
IF({!Phone} = TRUE, &quot;Phone: &quot; + {!PhoneShare} + BR(), &quot;&quot;)+
IF({!Address} = TRUE, &quot;Address: &quot; + {!AddressBlock.street} + BR(), &quot;&quot;)+
IF({!Address} = TRUE &amp;&amp; !ISBLANK({!Address_Notes_Buzz_Unit_Access_Info}), &quot;Additional Info: &quot; + {!Address_Notes_Buzz_Unit_Access_Info}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Sending_Contact.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>ReplyEmail</name>
        <dataType>String</dataType>
        <expression>{!Sending_Contact.Email}</expression>
    </formulas>
    <formulas>
        <name>SendersNote</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Note_to_recipient}), &quot;Sender&apos;s Note: &quot; + {!Note_to_recipient}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SharedContactInfoName</name>
        <dataType>String</dataType>
        <expression>{!Sending_Contact.FirstName} + &quot; &quot; + {!Sending_Contact.LastName} + &quot; - &quot; + TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;The FIMBY User, &quot; + {!Sending_Contact.FirstName}+&quot; &quot;+ {!Sending_Contact.LastName}+&quot;, has shared their contact info&quot;</expression>
    </formulas>
    <formulas>
        <name>UserContactID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Sending_Contact.Id}, 15)</expression>
    </formulas>
    <interviewLabel>Share My Contact Info (Pre-Defined) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share My Contact Info (Pre-Defined)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Shared_Contact_Info</name>
        <label>Create Shared Contact Info</label>
        <locationX>958</locationX>
        <locationY>1852</locationY>
        <inputAssignments>
            <field>Additional_Info__c</field>
            <value>
                <elementReference>Address_Notes_Buzz_Unit_Access_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>AddressBlock.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Sending_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>AddressBlock.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>EmailShare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>PhoneShare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>AddressBlock.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_State__c</field>
            <value>
                <elementReference>AddressBlock.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_To__c</field>
            <value>
                <elementReference>Receipient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>AddressBlock.street</elementReference>
            </value>
        </inputAssignments>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Receipient</name>
        <label>Receipient</label>
        <locationX>771</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sending_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sending_Contact</name>
        <label>Sending Contact</label>
        <locationX>769</locationX>
        <locationY>1258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SendingContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Shared_Contact_Info</name>
        <label>Shared Contact Info</label>
        <locationX>767</locationX>
        <locationY>1735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sending_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>769</locationX>
        <locationY>1630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shared_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HouseholdID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Receipient.Household_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Info</name>
        <label>Update Contact Info</label>
        <locationX>1095</locationX>
        <locationY>2009</locationY>
        <inputReference>Shared_Contact_Info</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Contact_Info</name>
        <label>Select Contact Info</label>
        <locationX>768</locationX>
        <locationY>1402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Contact_Email</targetReference>
        </connector>
        <fields>
            <name>ShareTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Share Your Contact Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContactInfo</name>
            <fieldText>&lt;p&gt;Please select which contact info you would like to share:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Select at least one.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
||
{!Email} = TRUE
||
{!Address} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>Boolean</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Select at least one.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
||
{!Email} = TRUE
||
{!Address} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>Boolean</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Select at least one.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
||
{!Email} = TRUE
||
{!Address} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EmailShare</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Sending_Contact.Email</elementReference>
            </defaultValue>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please provide an email address.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Email} = TRUE
&amp;&amp;
!ISBLANK({!EmailShare})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PhoneShare</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Sending_Contact.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please Provide a Phone Number.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
&amp;&amp;
!ISBLANK({!PhoneShare})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressBlock</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Sending_Contact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Sending_Contact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Sending_Contact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Sending_Contact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Sending_Contact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address_Notes_Buzz_Unit_Access_Info</name>
            <dataType>String</dataType>
            <fieldText>Address Notes (Buzz, Unit, Access Info, Etc.)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Note_to_recipient</name>
            <dataType>String</dataType>
            <fieldText>Message to Recipient (Optional):</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Let the recipient know why you are you sharing your contact info with them.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ClickingNext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Clicking &apos;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 86, 192);&quot;&gt;Next&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&apos; will share the contact info you have selected with {!Receipient.FirstName} {!Receipient.LastName} (via email).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>646</locationX>
        <locationY>997</locationY>
        <connector>
            <targetReference>Receipient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fimby--c.documentforce.com/servlet/servlet.ImageServer?id=0155f000000mvNX&amp;amp;oid=00D5f000006NDkr&quot;&gt;&lt;/p&gt;&lt;p&gt;Hey {!Receipient.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The FIMBY User, {!Sending_Contact.FirstName} {!Sending_Contact.LastName}, has shared their contact info with you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ContactInfoForEmail}&lt;/p&gt;&lt;p&gt;{!SendersNote}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;The Fimby Team&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://fimby--c.documentforce.com/servlet/servlet.ImageServer?id=0155f000000mvNc&amp;amp;oid=00D5f000006NDkr&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecipientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendingContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
