FIMBY/force-app/main/default/flows/Share_Contact_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_Response</name>
        <label>Go to Response</label>
        <locationX>764</locationX>
        <locationY>2502</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Response_0</name>
        <label>Go to Response</label>
        <locationX>1261</locationX>
        <locationY>2266</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Response_0_0</name>
        <label>Go to Response</label>
        <locationX>1455</locationX>
        <locationY>1735</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Response_0_0_0</name>
        <label>Go to Response</label>
        <locationX>1161</locationX>
        <locationY>698</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Response_0_0_0_0</name>
        <label>Go to Response</label>
        <locationX>1135</locationX>
        <locationY>1145</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Contact_Email</name>
        <label>Send Contact Email</label>
        <locationX>765</locationX>
        <locationY>1404</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>ReplyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Need_Offer_Posting_Contact</name>
        <label>Need Offer Posting Contact</label>
        <locationX>531</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.Reply_To_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Responding_Contact</name>
        <label>Responding Contact</label>
        <locationX>984</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient</name>
        <label>Set Recipient as Respondee</label>
        <locationX>526</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>RecipientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient_0</name>
        <label>Set Recipient as Poster</label>
        <locationX>766</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>RecipientContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.Reply_To_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shared_Contact_Info</name>
        <label>Update Shared Contact Info</label>
        <locationX>942</locationX>
        <locationY>1893</locationY>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Additional_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Notes_Buzz_Unit_Access_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailShare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneShare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Province_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shared_Contact_Info.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressBlock.country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found Shared Contact Info?</label>
        <locationX>757</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Is_Shared_Contact_Info_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shared_Contact_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Households_Match</name>
        <label>Households Match</label>
        <locationX>757</locationX>
        <locationY>1147</locationY>
        <defaultConnector>
            <targetReference>Select_Contact_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.HouseholdID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recipient.Household_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Household_Match</targetReference>
            </connector>
            <label>Yes - Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shared_Contact_Info_Changed</name>
        <label>Is Shared Contact Info Changed?</label>
        <locationX>756</locationX>
        <locationY>1896</locationY>
        <defaultConnector>
            <targetReference>Find_Response_Contact_Info1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Street__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AddressBlock.street</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Additional_Info__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Address_Notes_Buzz_Unit_Access_Info</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmailShare</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shared_Contact_Info.Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PhoneShare</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shared_Contact_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Owner_Response_Owner</name>
        <label>Need Owner / Response Owner</label>
        <locationX>762</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>Responding_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response Owner</defaultConnectorLabel>
        <rules>
            <name>Need_Offer_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedOfferOwnerMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Offer_Posting_Contact</targetReference>
            </connector>
            <label>Need Offer Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Contact_Info_Found</name>
        <label>Response Contact Info Found</label>
        <locationX>758</locationX>
        <locationY>2269</locationY>
        <defaultConnector>
            <targetReference>Go_to_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Response_COntact_Info_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Response_Contact_Info1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Response_Contact_Info2</targetReference>
            </connector>
            <label>No Response COntact Info Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Responses_Triggered</name>
        <label>Responses Triggered</label>
        <locationX>1085</locationX>
        <locationY>1744</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Responses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Response_Contact_Info</targetReference>
            </connector>
            <label>Yes - Responses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_clicked</name>
        <label>Who clicked?</label>
        <locationX>762</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Not_A_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Posted_By</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PostBy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recipient</targetReference>
            </connector>
            <label>Posted By</label>
        </rules>
        <rules>
            <name>Respondee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RespondeeContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recipient_0</targetReference>
            </connector>
            <label>Respondee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactInfoForEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Email}=TRUE, &quot;Email: &quot; + {!EmailShare} + BR(), &quot;&quot;)+
IF({!Phone} = TRUE, &quot;Phone: &quot; + {!PhoneShare} + BR(), &quot;&quot;)+
IF({!Address} = TRUE, &quot;Address: &quot; + {!AddressBlock.street} + BR(), &quot;&quot;)+
IF({!Address} = TRUE &amp;&amp; !ISBLANK({!Address_Notes_Buzz_Unit_Access_Info}), &quot;Additional Info: &quot; + {!Address_Notes_Buzz_Unit_Access_Info}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NeedOfferLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.force.com/s/needs-offers/&quot; + {!Need_Offer.Id}</expression>
    </formulas>
    <formulas>
        <name>NeedOfferOwnerMatch</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$User.Id},15) = LEFT({!Need_Offer.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>PostBy</name>
        <dataType>String</dataType>
        <expression>LEFT({!Need_Offer.OwnerId}, 15)</expression>
    </formulas>
    <formulas>
        <name>PostLink</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot; + {!Response.Need_Offer_Responded_To__c}</expression>
    </formulas>
    <formulas>
        <name>ReplyEmail</name>
        <dataType>String</dataType>
        <expression>{!Contact.Email}</expression>
    </formulas>
    <formulas>
        <name>RespondeeContact</name>
        <dataType>String</dataType>
        <expression>LEFT({!Response.OwnerId},15)</expression>
    </formulas>
    <formulas>
        <name>ResponseURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.force.com/s/response/&quot; + {!Response.Id}</expression>
    </formulas>
    <formulas>
        <name>SharedContactInfoName</name>
        <dataType>String</dataType>
        <expression>{!Contact.FirstName} + &quot; &quot; + {!Contact.LastName} + &quot; - &quot; + TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;The FIMBY User, &quot; + {!Contact.FirstName}+&quot; &quot;+ {!Contact.LastName}+&quot;, has shared their contact info&quot;</expression>
    </formulas>
    <formulas>
        <name>UserContactID</name>
        <dataType>String</dataType>
        <expression>LEFT({!Contact.Id}, 15)</expression>
    </formulas>
    <interviewLabel>Share Contact Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Contact Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response_Contact_Info</name>
        <label>Create Response Contact Info</label>
        <locationX>1291</locationX>
        <locationY>1736</locationY>
        <connector>
            <targetReference>Go_to_Response_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Contact_Info__c</field>
            <value>
                <elementReference>Create_Shared_Contact_Info</elementReference>
            </value>
        </inputAssignments>
        <object>Response_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Response_Contact_Info2</name>
        <label>Create Response Contact Info</label>
        <locationX>1083</locationX>
        <locationY>2263</locationY>
        <connector>
            <targetReference>Go_to_Response_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Contact_Info__c</field>
            <value>
                <elementReference>Shared_Contact_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Response_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shared_Contact_Info</name>
        <label>Create Shared Contact Info</label>
        <locationX>955</locationX>
        <locationY>1736</locationY>
        <connector>
            <targetReference>Responses_Triggered</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Info__c</field>
            <value>
                <elementReference>Address_Notes_Buzz_Unit_Access_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>AddressBlock.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>AddressBlock.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>EmailShare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SharedContactInfoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>PhoneShare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>AddressBlock.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_State__c</field>
            <value>
                <elementReference>AddressBlock.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_To__c</field>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>AddressBlock.street</elementReference>
            </value>
        </inputAssignments>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>770</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_clicked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Response_Contact_Info1</name>
        <label>Find Response Contact Info</label>
        <locationX>766</locationX>
        <locationY>2112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Response_Contact_Info_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shared_Contact_Info__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shared_Contact_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Need_Offer</name>
        <label>Need / Offer</label>
        <locationX>771</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_Owner_Response_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Response.Need_Offer_Responded_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recipient</name>
        <label>Recipient</label>
        <locationX>765</locationX>
        <locationY>1026</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Households_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecipientContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Response</name>
        <label>Response</label>
        <locationX>773</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_Offer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Shared_Contact_Info</name>
        <label>Shared Contact Info</label>
        <locationX>764</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shared_Contact_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>766</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shared_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HouseholdID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recipient.Household_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Info</name>
        <label>Update Contact Info</label>
        <locationX>1091</locationX>
        <locationY>1901</locationY>
        <connector>
            <targetReference>Find_Response_Contact_Info1</targetReference>
        </connector>
        <inputReference>Shared_Contact_Info</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Household_Match</name>
        <label>Household Match</label>
        <locationX>969</locationX>
        <locationY>1145</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_Response_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>NotaMatch_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;You are attempting to share contact info with your own household.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_A_Match</name>
        <label>Not A Match</label>
        <locationX>995</locationX>
        <locationY>698</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_Response_0_0_0</targetReference>
        </connector>
        <fields>
            <name>NotaMatch</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;You are not the owner of this &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;contact, &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;post or response so you are not able to share contact information here.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact_Info</name>
        <label>Select Contact Info</label>
        <locationX>765</locationX>
        <locationY>1286</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Contact_Email</targetReference>
        </connector>
        <fields>
            <name>ContactInfo</name>
            <fieldText>&lt;p&gt;Please select which contact info you would like to share:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Select at least one.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
||
{!Email} = TRUE
||
{!Address} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>Boolean</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Select at least one.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
||
{!Email} = TRUE
||
{!Address} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>Boolean</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Select at least one.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
||
{!Email} = TRUE
||
{!Address} = TRUE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EmailShare</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact.Email</elementReference>
            </defaultValue>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please provide an email address.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Email} = TRUE
&amp;&amp;
!ISBLANK({!EmailShare})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PhoneShare</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please Provide a Phone Number.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone} = TRUE
&amp;&amp;
!ISBLANK({!PhoneShare})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressBlock</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Contact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Contact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Contact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Contact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Contact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address_Notes_Buzz_Unit_Access_Info</name>
            <dataType>String</dataType>
            <fieldText>Address Notes (Buzz, Unit, Access Info, Etc.)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ClickingNext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Clicking &apos;&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 86, 192);&quot;&gt;Next&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&apos; will share the contact info you have provided with {!Recipient.FirstName} {!Recipient.LastName} (via email).&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>647</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://fimby--c.documentforce.com/servlet/servlet.ImageServer?id=0155f000000mvNX&amp;amp;oid=00D5f000006NDkr&quot;&gt;&lt;/p&gt;&lt;p&gt;Hey {!Recipient.FirstName},&lt;/p&gt;&lt;p&gt;The FIMBY User, {!Contact.FirstName} {!Contact.LastName}, has shared their contact info in relation to &lt;a href=&quot;{!ResponseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;the response&lt;/a&gt;, to &lt;a href=&quot;{!NeedOfferLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this post&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;{!ContactInfoForEmail}&lt;/p&gt;&lt;p&gt;Please reach out to {!Contact.FirstName} using the contact info above to coordinate the details.&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;The Fimby Team&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://fimby--c.documentforce.com/servlet/servlet.ImageServer?id=0155f000000mvNc&amp;amp;oid=00D5f000006NDkr&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
