FIMBY/force-app/main/default/flows/Submit_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Return_URL</name>
        <label>Return URL</label>
        <locationX>771</locationX>
        <locationY>1418</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>ReturnURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_PostByID</name>
        <label>Set PostByID</label>
        <locationX>780</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>PostByID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Posting_By</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Feedback</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AnotherOrganization</name>
        <choiceText>Another Organization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Organization</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnotherPerson</name>
        <choiceText>Another Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultContact</name>
        <choiceText>{!UserContact.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UserContact.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Upload_a_Photo</name>
        <label>Upload a Photo</label>
        <locationX>770</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Feedback_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Photo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Screenshot</targetReference>
            </connector>
            <label>Yes - Photo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FeedbackType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HHMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PostByID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceipientType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Giver_Recipient_Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContactID</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!OtherPersonContact.recordId}), {!OtherPersonContact.recordId}, 
IF({!Posting_For}= &quot;Self&quot;, {!PostByID},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>ContactIdDefault</name>
        <dataType>String</dataType>
        <expression>IF({!HHCount} = 1, {!DefaultContactID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FileID</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Response}, &quot;FileId:&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MessagePreview</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Details})&gt;252, LEFT({!Details},252) + &quot;...&quot;, {!Details})</expression>
    </formulas>
    <formulas>
        <name>PhotoURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BASEURL}, &quot;DRIVE_FILE_ID&quot;, {!FileID})</expression>
    </formulas>
    <formulas>
        <name>PostForDynamic</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!OtherPersonContact.recordId}), {!OtherPersonContact.recordId}, {!PostByID})</expression>
    </formulas>
    <formulas>
        <name>PostingForDefault</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Posting_For}), {!Posting_For}, &quot;Self&quot;)</expression>
    </formulas>
    <formulas>
        <name>ReturnURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://fimby.my.site.com/&quot;+ {!recordId}</expression>
    </formulas>
    <interviewLabel>Submit Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Feedback</name>
        <label>New Feedback</label>
        <locationX>780</locationX>
        <locationY>943</locationY>
        <connector>
            <targetReference>Upload_a_Photo</targetReference>
        </connector>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Post_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Neighbourhood__c</field>
            <value>
                <elementReference>UserContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posted_By__c</field>
            <value>
                <elementReference>PostByID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posted_For_Organization__c</field>
            <value>
                <elementReference>OtherOrganization.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Posted_For_Person__c</field>
            <value>
                <elementReference>OtherPersonContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_ID__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Details__c</field>
            <value>
                <elementReference>ReceipentTypeDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Household</name>
        <label>Household</label>
        <locationX>785</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.HouseholdID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>DefaultContactID</assignToReference>
            <field>npe01__One2OneContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HHCount</assignToReference>
            <field>npsp__Number_of_Household_Members__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserContact</name>
        <label>UserContact</label>
        <locationX>786</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Feedback_Submitted</name>
        <label>Feedback Submitted</label>
        <locationX>775</locationX>
        <locationY>1256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_URL</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!Thanks}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Your feedback has been submitted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Feedback</name>
        <label>Submit Feedback</label>
        <locationX>781</locationX>
        <locationY>696</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_PostByID</targetReference>
        </connector>
        <fields>
            <name>FeedbackGiver</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Feedback Provider Info&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Submit_Feedback_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Feedback_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Posting_For</name>
                    <choiceReferences>Self</choiceReferences>
                    <choiceReferences>AnotherPerson</choiceReferences>
                    <choiceReferences>AnotherOrganization</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PostingForDefault</elementReference>
                    </defaultValue>
                    <fieldText>Feeback Given By</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OtherPersonContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Person&apos;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Needs_Offers__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherPerson</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OtherOrganization</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Organization&apos;s Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Posted_For_Organization__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Story__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AnotherOrganization</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ReceipentTypeDetails</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ReceipentTypeDetails</elementReference>
                    </defaultValue>
                    <fieldText>Relationship to the person you are posting for.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Posting_For</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Self</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Feedback_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Posting_By</name>
                    <choiceReferences>HHMembers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactIdDefault</elementReference>
                    </defaultValue>
                    <fieldText>Provided By:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FeedbackDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Feedback Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TypePicklist</name>
            <choiceReferences>FeedbackType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TypePicklist</elementReference>
            </defaultValue>
            <fieldText>Feedback Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Post_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Post_Title</elementReference>
            </defaultValue>
            <fieldText>Feedback Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Details</name>
            <defaultValue>
                <stringValue>{!Details}</stringValue>
            </defaultValue>
            <fieldText>Feedback Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Messages must be less than 32769 characters long.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Details}) &lt;= 32768</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Button</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Screenshot&quot;,&quot;value&quot;:&quot;Photo&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Submit Now&quot;,&quot;value&quot;:&quot;Submit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>660</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>UserContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upload_Screenshot</name>
        <label>Upload Screenshot</label>
        <locationX>998</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>Feedback_Submitted</targetReference>
        </connector>
        <flowName>Upload_Feedback_Screenshot</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>New_Feedback</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Thanks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;/resource/Impact_Icons/ThanksPeople.png&quot; alt=&quot;Thanks.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BASEURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://drive.google.com/uc?id=DRIVE_FILE_ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>DedicationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DefaultContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HHCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PostByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ValidationError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
