FIMBY/force-app/main/default/flows/Update_Waitlist_Values_on_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>973</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>LendingRequeststoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Waitlisted_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waitlisted_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Waitlist_by_1</name>
        <label>Decrease Waitlist by 1</label>
        <locationX>973</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>Waitlisted_Requests.Waitlist_Position__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Waitlisted_Requests.Waitlist_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>775</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>CollectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Next_on_Waitlist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Found</name>
        <label>Records Found?</label>
        <locationX>767</locationX>
        <locationY>538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waitlisted_Requests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Waitlist Values on Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Waitlist Values on Delete</label>
    <loops>
        <name>Waitlisted_Requests</name>
        <label>Waitlisted Requests</label>
        <locationX>774</locationX>
        <locationY>729</locationY>
        <collectionReference>Next_on_Waitlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decrease_Waitlist_by_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Waitlist_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Next_on_Waitlist</name>
        <label>Next on Waitlist</label>
        <locationX>776</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Library_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Library_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waitlisted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Waitlist_Position__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Waitlist_Position__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lending_Request__c</object>
        <sortField>Waitlist_Position__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Waitlist_Values</name>
        <label>Update Waitlist Values</label>
        <locationX>774</locationX>
        <locationY>914</locationY>
        <inputReference>LendingRequeststoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>Next_on_Waitlist</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Waitlist_Position__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lending_Request__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LendingRequeststoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lending_Request__c</objectType>
    </variables>
</Flow>
