FIMBY/force-app/main/default/flows/Update_Need_Offer_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Change_Status_to_Reply_Received</name>
        <label>Change Status to Reply Received</label>
        <locationX>692</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>Need_Offer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reply Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Need_Offer_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>681</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Need_Offer.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_Reply_Received</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Need/Offer Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Need/Offer Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Need_Offer</name>
        <label>Need/Offer</label>
        <locationX>689</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Need_Offer_Responded_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Need_Offer_Status</name>
        <label>Update Need/Offer Status</label>
        <locationX>690</locationX>
        <locationY>816</locationY>
        <inputReference>Need_Offer</inputReference>
    </recordUpdates>
    <start>
        <locationX>563</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Need_Offer</targetReference>
        </connector>
        <object>Response__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
