FIMBY/force-app/main/default/flows/Update_Waitlist_Values_on_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Original_Record_to_Collection</name>
        <label>Add Original Record to Collection</label>
        <locationX>776</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>LendingRequeststoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Waitlist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>975</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>LendingRequeststoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Waitlisted_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waitlisted_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Waitlist_by_1</name>
        <label>Decrease Waitlist by 1</label>
        <locationX>976</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>Waitlisted_Requests.Waitlist_Position__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Waitlisted_Requests.Waitlist_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Original_Record</name>
        <label>Update Original Record</label>
        <locationX>776</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waitlist_Position__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Waitlist_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Original_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Waitlist Values on Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Waitlist Values on Update</label>
    <loops>
        <name>Waitlisted_Requests</name>
        <label>Waitlisted Requests</label>
        <locationX>775</locationX>
        <locationY>574</locationY>
        <collectionReference>Next_on_Waitlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decrease_Waitlist_by_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Original_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Next_on_Waitlist</name>
        <label>Next on Waitlist</label>
        <locationX>776</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Waitlisted_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Library_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Library_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waitlisted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Waitlist_Position__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Waitlist_Position__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lending_Request__c</object>
        <sortField>Waitlist_Position__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Waitlist_Values</name>
        <label>Update Waitlist Values</label>
        <locationX>777</locationX>
        <locationY>1033</locationY>
        <inputReference>LendingRequeststoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Next_on_Waitlist</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Lending_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LendingRequeststoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lending_Request__c</objectType>
    </variables>
</Flow>
