FIMBY/force-app/main/default/flows/Upload_to_Google_Drive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Upload_a_File_to_G_Drive</name>
        <label>Upload a File to G Drive</label>
        <locationX>552</locationX>
        <locationY>762</locationY>
        <actionName>GoogleDriveAPIController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_cvIDs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Upload_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cdIdList</name>
            <value>
                <elementReference>UploadFiles.contentDocIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GoogleDriveAPIController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>cvID</assignToReference>
            <name>contentVersionId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Height</assignToReference>
            <name>height</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Success</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rotation</assignToReference>
            <name>rotation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>viewUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Width</assignToReference>
            <name>width</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_cvIDs</name>
        <label>Set cvIDs</label>
        <locationX>468</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>cvIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UploadFiles.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Photo_Selected</name>
        <label>Set Photo Selected</label>
        <locationX>1077</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>PhotoSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPhotoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invalid_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Photo_Selected_0</name>
        <label>Set Photo Selected</label>
        <locationX>634</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>PhotoSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FileSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_2</name>
        <label>Set to 2</label>
        <locationX>847</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>PhotoSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FileSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_3</name>
        <label>Set to 3</label>
        <locationX>957</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>PhotoSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FileSelect</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Upload</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Upload</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesUpload</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Continue</name>
        <label>Continue</label>
        <locationX>1183</locationX>
        <locationY>1345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Offer</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
        <rules>
            <name>Yes_Update_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_Offer</targetReference>
            </connector>
            <label>Yes - Update More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Photos</name>
        <label>Existing Photos</label>
        <locationX>626</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Set_Photo_Selected_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Image_1_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invalid_Selection</name>
        <label>Invalid Selection?</label>
        <locationX>950</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>FileSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>X4_sb_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotoSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Need_Offer.Image_3_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_3</targetReference>
            </connector>
            <label>4 sb 3</label>
        </rules>
        <rules>
            <name>X3_sb_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotoSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Need_Offer.Image_2_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_2</targetReference>
            </connector>
            <label>3 sb 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Match</name>
        <label>Owner Match</label>
        <locationX>628</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Upload_Failed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Photos</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Photo_2_Populated</name>
        <label>Photo 2 Populated</label>
        <locationX>1305</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>Removal_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Image_2_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_3_Images</targetReference>
            </connector>
            <label>Yes 2 Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Photo_3_Populated</name>
        <label>Photo 3 Populated</label>
        <locationX>1641</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Removal_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2_Populated_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Image_3_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_2_Images</targetReference>
            </connector>
            <label>Yes Photo 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Photo_4_Populated</name>
        <label>Photo 4 Populated</label>
        <locationX>1946</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Removal_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Photo_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_Offer.Image_4_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_1_Image</targetReference>
            </connector>
            <label>Yes Photo 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Photo</name>
        <label>Remove Photo</label>
        <locationX>1185</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>Set_Photo_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Remove4.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove3.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove2.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove1.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_to_Remove</targetReference>
            </connector>
            <label>Yes Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successfully_Uploaded</name>
        <label>Successfully Uploaded?</label>
        <locationX>533</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>Upload_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhotoSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_1_Link</targetReference>
            </connector>
            <label>Yes - Uploaded 1</label>
        </rules>
        <rules>
            <name>Yes_Uploaded_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotoSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_2_Link</targetReference>
            </connector>
            <label>Yes - Uploaded 2</label>
        </rules>
        <rules>
            <name>Yes_Uploaded_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotoSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_3_Link</targetReference>
            </connector>
            <label>Yes - Uploaded 3</label>
        </rules>
        <rules>
            <name>Yes_Uploaded_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhotoSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_4_Link</targetReference>
            </connector>
            <label>Yes - Uploaded 4</label>
        </rules>
        <rules>
            <name>New_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhotoSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_1_Link</targetReference>
            </connector>
            <label>New Photo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Try_Again</name>
        <label>Try Again</label>
        <locationX>213</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Try_Again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryAgain.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Try Again</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Photos</targetReference>
            </connector>
            <label>Yes - Try Again</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_to_Remove</name>
        <label>Which to Remove</label>
        <locationX>1798</locationX>
        <locationY>621</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Remove4.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_1_Link_0</targetReference>
            </connector>
            <label>Remove 1</label>
        </rules>
        <rules>
            <name>Remove_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Remove4.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_2_Link_0</targetReference>
            </connector>
            <label>Remove 2</label>
        </rules>
        <rules>
            <name>Remove_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Remove4.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_3_Link_0</targetReference>
            </connector>
            <label>Remove 3</label>
        </rules>
        <rules>
            <name>Remove_4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Remove4.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Image_4_Link_0</targetReference>
            </connector>
            <label>Remove 4</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Image_Dimensions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Image_1_Dimensions__c</picklistField>
        <picklistObject>Needs_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EightBRs</name>
        <dataType>String</dataType>
        <expression>BR()+BR()+BR()+BR()+BR()+BR()+BR()</expression>
    </formulas>
    <formulas>
        <name>fileID</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Response}, &quot;FileId:&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Image1Height</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!Need_Offer.Image_1_Ratio__c}, FIND(&quot;X&quot;, {!Need_Offer.Image_1_Ratio__c}) - 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Image1Width</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Need_Offer.Image_1_Ratio__c}, LEN({!Need_Offer.Image_1_Ratio__c}) - FIND(&quot;X&quot;, {!Need_Offer.Image_1_Ratio__c})))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Image2Height</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!Need_Offer.Image_2_Ratio__c}, FIND(&quot;X&quot;, {!Need_Offer.Image_2_Ratio__c}) - 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PhotoURL</name>
        <dataType>String</dataType>
        <expression>{!Response}</expression>
    </formulas>
    <formulas>
        <name>Ratio</name>
        <dataType>String</dataType>
        <expression>IF({!Rotation} = 1 || {!Rotation} = 3, 
{!Width} + &quot;X&quot; + {!Height},
{!Height} + &quot;X&quot; + {!Width})</expression>
    </formulas>
    <formulas>
        <name>SelectedPhotoFormula</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Photos4.value}), {!Photos4.value},
IF(!ISBLANK({!Photos3.value}), {!Photos3.value},
IF(!ISBLANK({!Photos2.value}), {!Photos2.value},&quot;1&quot;)))</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Upload to Google Drive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Need / Offer Photo</label>
    <loops>
        <name>Loop_IDs</name>
        <label>Loop IDs</label>
        <locationX>373</locationX>
        <locationY>771</locationY>
        <collectionReference>cvIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Photo_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Successfully_Uploaded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Need_Offer</name>
        <label>Need/Offer</label>
        <locationX>529</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Needs_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_1_Image</name>
        <label>Reset 1 Image</label>
        <locationX>1996</locationX>
        <locationY>1132</locationY>
        <connector>
            <targetReference>Removal_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_3_Dimensions__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_Dimensions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Ratio__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_Ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_URL__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_Dimensions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_Ratio__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_2_Images</name>
        <label>Reset 2 Images</label>
        <locationX>1620</locationX>
        <locationY>1143</locationY>
        <connector>
            <targetReference>Removal_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_2_Dimensions__c</field>
            <value>
                <elementReference>Need_Offer.Image_3_Dimensions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Ratio__c</field>
            <value>
                <elementReference>Need_Offer.Image_3_Ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_URL__c</field>
            <value>
                <elementReference>Need_Offer.Image_3_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Dimensions__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_Dimensions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Ratio__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_Ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_URL__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_Dimensions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_Ratio__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_3_Images</name>
        <label>Reset 3 Images</label>
        <locationX>1314</locationX>
        <locationY>1147</locationY>
        <connector>
            <targetReference>Removal_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_Dimensions__c</field>
            <value>
                <elementReference>Need_Offer.Image_2_Dimensions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_Ratio__c</field>
            <value>
                <elementReference>Need_Offer.Image_2_Ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_URL__c</field>
            <value>
                <elementReference>Need_Offer.Image_2_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Dimensions__c</field>
            <value>
                <elementReference>Need_Offer.Image_3_Dimensions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Ratio__c</field>
            <value>
                <elementReference>Need_Offer.Image_3_Ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_URL__c</field>
            <value>
                <elementReference>Need_Offer.Image_3_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Dimensions__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_Dimensions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Ratio__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_Ratio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_URL__c</field>
            <value>
                <elementReference>Need_Offer.Image_4_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_Dimensions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_Ratio__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_1_Link</name>
        <label>Set Image 1 Link</label>
        <locationX>50</locationX>
        <locationY>1174</locationY>
        <connector>
            <targetReference>Upload_Confirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Upload_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_Ratio__c</field>
            <value>
                <elementReference>Ratio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_1_Link_0</name>
        <label>Set Image 1 Link</label>
        <locationX>1312</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>Photo_2_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_Dimensions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_Ratio__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_2_Link</name>
        <label>Set Image 2 Link</label>
        <locationX>387</locationX>
        <locationY>1179</locationY>
        <connector>
            <targetReference>Upload_Confirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Upload_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_2_Ratio__c</field>
            <value>
                <elementReference>Ratio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_2_Link_0</name>
        <label>Set Image 2 Link</label>
        <locationX>1649</locationX>
        <locationY>810</locationY>
        <connector>
            <targetReference>Photo_3_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_2_Dimensions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Ratio__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_3_Link</name>
        <label>Set Image 3 Link</label>
        <locationX>693</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Upload_Confirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Upload_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_3_Ratio__c</field>
            <value>
                <elementReference>Ratio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_3_Link_0</name>
        <label>Set Image 3 Link</label>
        <locationX>1961</locationX>
        <locationY>809</locationY>
        <connector>
            <targetReference>Photo_4_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_3_Dimensions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Ratio__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_4_Link</name>
        <label>Set Image 4 Link</label>
        <locationX>989</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Upload_Confirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Upload_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_4_Ratio__c</field>
            <value>
                <elementReference>Ratio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_URL__c</field>
            <value>
                <elementReference>PhotoURL</elementReference>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Image_4_Link_0</name>
        <label>Set Image 4 Link</label>
        <locationX>2251</locationX>
        <locationY>809</locationY>
        <connector>
            <targetReference>Removal_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_4_Dimensions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_Ratio__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_4_URL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Needs_Offers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Photo_Number</name>
        <label>Set Photo Number</label>
        <locationX>374</locationX>
        <locationY>979</locationY>
        <connector>
            <targetReference>Loop_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_IDs</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055f000005dZ1f</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhotoNumber__c</field>
            <value>
                <elementReference>PhotoSelected</elementReference>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AddUpdate</name>
        <label>AddUpdate</label>
        <locationX>1194</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Remove_Photo</targetReference>
        </connector>
        <fields>
            <name>AddUpdate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddUpdate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;#1&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Photos1</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add / Update&quot;,&quot;value&quot;:&quot;1&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Remove1</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;R1&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_1_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ExistingPhoto1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Need_Offer.Image1__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_1_URL__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddUpdate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;#2&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Photos2</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add / Update&quot;,&quot;value&quot;:&quot;2&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Remove2</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;R2&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_2_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ExistingPhoto2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Need_Offer.Image2__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_2_URL__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddUpdate_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;#3&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_2_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Photos3</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add / Update&quot;,&quot;value&quot;:&quot;3&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_3_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_2_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Remove3</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;R3&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_3_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ExistingPhoto3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Need_Offer.Image3__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_3_URL__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddUpdate_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;#4&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_3_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Photos4</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add / Update&quot;,&quot;value&quot;:&quot;4&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_3_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Remove4</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;R4&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_4_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ExistingPhoto4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Need_Offer.Image4__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Need_Offer.Image_4_URL__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FileSelect</name>
        <label>FileSelect</label>
        <locationX>543</locationX>
        <locationY>652</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_a_File_to_G_Drive</targetReference>
        </connector>
        <fields>
            <name>FileSelect_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FileSelect_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UploadFiles</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload A Photo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FileSelect_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Size</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(244, 0, 0);&quot;&gt;Note: Images must be &lt;/em&gt;&lt;strong style=&quot;color: rgb(244, 0, 0);&quot;&gt;&lt;em&gt;4.2 MB &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(244, 0, 0);&quot;&gt;or less.   &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(244, 0, 0);&quot;&gt;The upload may fail if your image is too large.  &lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Removal_Confirmed</name>
        <label>Removal Confirmed</label>
        <locationX>1771</locationX>
        <locationY>1343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <fields>
            <name>COnfirmation_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Your photo was successfully removed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Finish_0</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Update More Photos&quot;,&quot;value&quot;:&quot;Update&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Confirmed</name>
        <label>Upload Confirmed</label>
        <locationX>543</locationX>
        <locationY>1338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 134, 8);&quot;&gt;Your photo was successfully uploaded.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Finish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Another Photo&quot;,&quot;value&quot;:&quot;Add&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Failed</name>
        <label>Upload Failed</label>
        <locationX>219</locationX>
        <locationY>627</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Try_Again</targetReference>
        </connector>
        <fields>
            <name>COnfirmation_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;We were unable to upload your photo. Please try again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TryAgain</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Try Again&quot;,&quot;value&quot;:&quot;Try Again&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Failed_0</name>
        <label>Upload Failed</label>
        <locationX>818</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>COnfirmation_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Only the owner of this item can upload photos.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Need_Offer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Image1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;{!Need_Offer.Image_1_URL__c}{!$Organization.Id}&quot; alt=&quot; &quot; style=&quot;height:{!Image1Height}px; width:{!Width}px;&quot; border=&quot;0&quot;/&gt;</text>
    </textTemplates>
    <variables>
        <name>BASEURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://drive.google.com/uc?id=DRIVE_FILE_ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cvID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Height</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>PhotoSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rotation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Width</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
